body {
    /* background: #000; */
    background: radial-gradient(#2a2a2a, #000 50%);
    overflow: hidden;
}

h1 {
    color: white;
}


/* canvas {
    display: block;
} */

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.panel {
    /* width: 50%; */
}

#panel1 {
    /* background: #fff; */
    background: transparent;
    /* border-radius: 10px; */
    /* padding: 20px; */
    /* margin: 20px; */
    /* box-shadow: 0 0 10px #000; */
    width: 50px;
    position: absolute;
    bottom: 100;
    left: 0;
    /* width: 40%; */
    /* background: radial-gradient(#2a2a2a, #000 50%); */
    height: 50px;
    z-index: -1;
}

#app-title {
    position: absolute;
    left: 50px;
    top: 127px;
    width: 341px;
    height: 46px;
    /* background: linear-gradient(90deg, #a445b2 0%, #d41872 50%, #ff0066 100%); */
    background: -webkit-linear-gradient(90deg, #a445b2 0%, #d41872 50%, #ff0066 100%);
    background-blend-mode: darken;
    text-shadow: 0px 2px 4px rgba(100, 100, 100, 0.5);
    font-family: "Proxima Nova";
    font-size: 36px;
    font-weight: 400;
    display: flex;
    align-items: center;
    /* font-size: 72px; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#version {
    position: absolute;
    left: 52px;
    top: 165px;
    width: 91px;
    height: 56px;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 22px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

#status-generator {
    position: absolute;
    left: 52px;
    top: 290px;
    width: 183px;
    height: 43px;
    color: #ffffff;
    font-family: "Proxima Nova Alt";
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

#legal {
    position: absolute;
    left: 52px;
    top: 328px;
    width: 151px;
    height: 24px;
    color: #ffffff;
    font-family: "Proxima Nova Alt";
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}


/* #panel2 {
    background: #fff;
    /* background: radial-gradient(#2a2a2a, #000 50%); */


/* height: 100%;
    height: 100%;
    width: 450px; */


/* } */

*/ #gui {
    right: 0;
    position: fixed;
    top: 0;
    /* border: #fff solid 10px; */
    z-index: 1;
    /* width: 50px; */
}