@import url(//fonts.googleapis.com/css?family=Lato:300:400);
:root {
  --white: #ffffff;
  --light: #f0eff3;
  --black: #000000;
  --dark-blue: #1f2029;
  --dark-light: #353746;
  --red: #da2c4d;
  --yellow: #f8ab37;
  --grey: #ecedf3; }

body {
  margin: 0; }

.header2 {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, #543ab7 0%, #00acc1 100%); }

.inner-header {
  height: 0vh;
  width: 100%;
  margin: 0;
  padding: 0; }

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.waves {
  position: relative;
  width: 100%;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px; }

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite; }

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s; }

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s; }

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s; }

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s; }

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0); }
  100% {
    transform: translate3d(85px, 0, 0); } }

/*Shrinking for mobile*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*putting zero basically places elements how it looks normally
    above we just offset the starting keyframes by translating it over */ } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0);
    /*putting zero basically places elements how it looks normally
    above we just offset the starting keyframes by translating it over */ } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translateY(0);
    /*putting zero basically places elements how it looks normally
    above we just offset the starting keyframes by translating it over */ } }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/* * is universal selector for everything on your page, it applies all block rules to everything inside it*/
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*we set this to border-box in body, so then here we ensure every el inherits that unless we specify otherwise*/ }

html {
  font-size: 62.5%;
  /* 1 rem = exactly 10px. Very useful for scaling everything else on page in rem*/
  /*important step2: users often set their own font size, so writing 10px as default font-size is bad practice, so we use percentages
  default font-size is 16px, so 100% would be 16px
  so we want 10px, default is 16, we divide 10 by the 16, and our percentage is 62.5%*/ }

body {
  box-sizing: border-box;
  overflow: hidden; }

h3 {
  font-family: "Nunito", sans-serif; }

a {
  text-decoration: none; }

body {
  font-family: "Nunito", sans-serif;
  overflow: hidden; }

h1 {
  font-family: "Century Gothic", "Lato", sans-serif;
  animation: moveInBottom 1s ease-out; }

h3,
h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500; }

a {
  text-decoration: none;
  font-size: 2rem; }

li {
  font-size: 1.5rem; }

/*
// CODEPEN HTML
<div class="container">
  <a class="btn btn-1">Hover me</a>
  <a class="btn btn-2">Hover me</a>
  <a class="btn btn-3">Hover me</a> 
  <a class="btn btn-4">Hover me</a> 
  <a class="btn btn-5">Hover me</a>
</div>
*/
/*
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
    min-height: 100vh;
}
*/
.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  transition: all 0.1s ease; }
  .btn::hover {
    background-position: right center;
    /* change the direction of the change here */ }

.btn-1 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%); }

.btn-2 {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%); }

.btn-3 {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%); }

.btn-4 {
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%); }

.btn-5 {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%); }

.cta-upgrade {
  bottom: 0vh;
  height: 5rem;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(to right, #ef603d 0%, #f77d2a 33%, #fda849 66%, #ffe7a1 100%);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
  overflow: hidden; }

.content__list li {
  height: 5rem; }

.content__link:link,
.content__link:visited {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 5rem;
  width: 100%;
  align-items: center;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }
  .content__link:link:hover,
  .content__link:visited:hover {
    background-color: #ecedf3;
    transform: translateY(-2px);
    transform: scale(1.01);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 4; }

.content__thumbnail {
  flex: 0 0 5.5rem;
  border-radius: 3px;
  height: 4.5rem;
  width: 2.5rem;
  margin-right: 5rem; }

.content__thumbnail img {
  display: block;
  width: 175%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s; }

.content__data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%; }

.content__file-property {
  display: flex;
  justify-content: start;
  align-items: center;
  flex: 1 3;
  padding-left: 6rem;
  margin: 0 auto; }

.content__data * {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.2rem; }

.content__data h4 {
  min-width: 30%;
  font-weight: 500; }

.content__data p {
  color: #000; }

.content__list {
  list-style: none;
  height: 70vh;
  scrollbar-width: none;
  overflow: scroll;
  display: flex;
  width: 95%;
  flex-direction: column;
  justify-content: start;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  border: solid 2px #ecedf3;
  box-shadow: 0px 5px 5px #9c9c9c;
  border-radius: 4px; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0px;
  background: #ffb900; }

.nav_A {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  height: 60px;
  width: 60%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 10;
  background-color: #fff; }

.nav_A-tab {
  display: flex;
  justify-content: center;
  width: 25%;
  align-items: center;
  flex: 1 2 auto;
  color: #000;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  font-weight: 200; }
  .nav_A-tab:hover {
    color: white;
    background-image: linear-gradient(to left, #0463db 0%, #0b88e6 33%, #13aff2 66%, #19d2fc 100%);
    background-position: bottom;
    transform: scale(1.05);
    transition: all 0.3s ease;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 20; }
  .nav_A-tab:active {
    transform: scale(1); }

.nav_A-tab--active {
  background-image: linear-gradient(268deg, #da2c4d, #f8ab37);
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: white; }

.nav_B {
  width: 60%;
  height: 10vh;
  margin: 1vh auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px; }
  .nav_B__child {
    width: 100%;
    background-color: #fff;
    display: flex; }
  .nav_B__main {
    justify-content: flex-start;
    border-radius: 4px 0 0 4px; }
  .nav_B__minor {
    justify-content: flex-end;
    border-radius: 0 4px 4px 0; }

.nav_B-button:link,
.nav_B-button:visited {
  width: 10rem;
  max-width: 10rem;
  height: 7.5rem;
  margin: auto 2rem;
  font-size: 1.2rem;
  color: #000;
  font-weight: 900;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex: 1 2;
  background: #f0eff3;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  transition: all ease-out 0.3s;
  animation-name: moveInTop;
  animation-duration: 0.6s; }
  .nav_B-button:link:hover,
  .nav_B-button:visited:hover {
    color: white;
    background-image: linear-gradient(268deg, #da2c4d, #f8ab37);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: scale(1.01); }
  .nav_B-button:link:active,
  .nav_B-button:visited:active {
    background-color: yellow;
    transform: scale(0.95); }

.nav_B-button--active {
  background-image: linear-gradient(268deg, #da2c4d, #f8ab37) !important;
  transform: scale(1.01);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) !important;
  color: white !important; }

.content-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: white;
  text-align: center;
  padding: 0 2em; }

.content-container {
  width: 100vw;
  margin-top: 4vh;
  height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.content-container-1 {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 500% 500%;
  animation: gradient 60s ease infinite; }

.content-container-2 {
  background: linear-gradient(-45deg, #23d5ab, #ee7752, #e73c7e, #23a6d5);
  background-size: 500% 500%;
  animation: gradient 60s ease infinite; }

.content-container-3 {
  background: linear-gradient(-45deg, #23a6d5, #23d5ab, #ee7752, #e73c7e);
  background-size: 500% 500%;
  animation: gradient 60s ease infinite; }

.content-container-4 {
  background: linear-gradient(-45deg, #e73c7e, #23a6d5, #23d5ab, #ee7752);
  background-size: 500% 500%;
  animation: gradient 60s ease infinite; }

/*
    You also have access to a function which can help set boundaries for otherwise flexible units.
    For example to set a column to be 1fr, but shrink no further than 200px:
    grid-template-columns: 1fr minmax(200px, 1fr);
    */
/*
    https://css-tricks.com/snippets/css/complete-guide-grid/
    .container {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
    }
    */
.row {
  max-width: 114rem;
  background-color: transparent;
  margin: 0 auto;
  /*
    &:last-child {
        margin-bottom: 0px;
    }
    */ }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left;
    background-color: transparent; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(((100% - 2 * 6rem) / 3) * 2 + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(((100% - 3 * 6rem) / 4) * 2 + (6rem)); }
  .row .col-3-of-4 {
    width: calc(((100% - 3 * 6rem) / 4) * 3 + (6rem * 2)); }
