@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*putting zero basically places elements how it looks normally
    above we just offset the starting keyframes by translating it over */ } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0);
    /*putting zero basically places elements how it looks normally
    above we just offset the starting keyframes by translating it over */ } }

/* * is universal selector for everything on your page, it applies all block rules to everything inside it*/
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*we set this to border-box in body, so then here we ensure every el inherits that unless we specify otherwise*/ }

html {
  font-size: 62.5%;
  /* 1 rem = exactly 10px. Very useful for scaling everything else on page in rem*/
  /*important step2: users often set their own font size, so writing 10px as default font-size is bad practice, so we use percentages
  default font-size is 16px, so 100% would be 16px
  so we want 10px, default is 16, we divide 10 by the 16, and our percentage is 62.5%*/ }

body {
  box-sizing: border-box; }

body {
  font-family: "Nunito", sans-serif;
  overflow: hidden; }

h1 {
  font-family: "Century Gothic", "Lato", sans-serif;
  animation: moveInLeft 1s ease-out; }

h3 {
  font-family: "Nunito", sans-serif;
  animation: moveInRight 1s ease-out; }

a {
  text-decoration: none; }

.primary-nav-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  position: relative;
  background: #ffb900;
  padding: 0 2em;
  /*
    h1 {
        font-size: 1rem;
        margin: 0;
        letter-spacing: 1rem;
    }

    h3 {
        font-size: 0.5rem;
        letter-spacing: 0.3rem;
        opacity: 1;
    }
    */ }

.primary-nav-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  position: fixed;
  top: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  background: #fff;
  z-index: 10;
  width: 60%;
  height: 60px; }

.primary-nav-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 1.8rem; }
  .primary-nav-tab:hover {
    color: white;
    background: rgba(102, 177, 241, 0.8); }

/*
.primary-nav-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66b1f1;
    transition: left 0.3s ease;
}
*/
.secondary-nav-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  position: relative;
  background: #7ed56f;
  text-align: center;
  padding: 0 2em;
  /*
    h1 {
        font-size: 3rem;
        margin: 0;
        letter-spacing: 1rem;
    }

    h3 {
        font-size: 1rem;
        letter-spacing: 0.3rem;
        opacity: 1;
    }
    */ }

.secondary-nav-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 40%;
  height: 60px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #eee;
  z-index: 1;
  position: fixed;
  top: 60px;
  border-radius: 0 0 5px 5px; }

.secondary-nav-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.1s ease;
  font-size: 1.8rem; }
  .secondary-nav-tab:hover {
    color: white;
    background: rgba(102, 177, 241, 0.8); }

.secondary-nav-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66b1f1;
  transition: left 0.3s ease; }

.content-main {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 0px;
  padding: 0 2em;
  display: flex; }

.content-main-container {
  background-color: rebeccapurple;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  position: absolute;
  top: 150px;
  height: 90vh; }

.content-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #dadada;
  text-align: center;
  padding: 0 2em;
  bottom: 0; }
  .content-slide h1 {
    font-size: 5rem;
    margin: 0;
    letter-spacing: 1rem; }
  .content-slide h3 {
    font-size: 2rem;
    letter-spacing: 0.3rem;
    opacity: 1; }

#tab-0 {
  background-color: #fff; }

#tab-1 {
  background-color: aquamarine; }

#tab-2 {
  background-color: crimson; }

#tab-3 {
  background-color: #66b1f1; }
