  $nav-text-color: #000;
  $nav-text-color_hover: #fff;
  $gray-dark-darkest: #1a1a1a;
  $gray-dark-dark: #202020;
  $gray-dark-light: #252525;
  $gray-dark-lightest: #313131;
  $gradient-blue: linear-gradient( to left, #0463db 0%, #0b88e6 33%, #13aff2 66%, #19d2fc 100%);
  .search {
      min-height: 64px;
      max-height: 64px;
      width: 100%;
      /* border-radius: 5px 5px 0 0; */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      //   position: fixed;
      margin: 0;
      top: 0;
      left: 0;
      //   margin: 0px 0px;
      background-color: $gray-dark-dark;
      //   background-color: #eee;
      //   border: 1px dotted red;
      &__input {
          //   border: 1px dotted red;
          transition: all 0.1s ease-in-out !important;
          width: 33%;
          height: 40px;
          margin: 0px 16px;
          //   transform: translateX(-8px);
          //   padding: 1rem;
          color: white;
          border-radius: 3px;
          background-color: $gray-dark-light;
          border: 1px solid $gray-dark-lightest;
          outline: none;
          font-size: 14px;
          box-shadow: none;
          &__icon {
              height: 20px;
              &__unfocused {
                  //   position: absolute;
                  transform: translateX(-48px);
              }
              &__focused {
                  display: none;
                  transform: translateX(-48px);
              }
          }
          &::placeholder {
              color: white;
              transform: translateX(20px);
              // background-color: $gray-dark-lightest; // change
          }
          &:focus {
              width: 66%;
              width: 100%;
          }
          &:focus .search__input__icon__unfocused {
              width: 100px;
              //   width: 66%;
              //   width: 100%;
          }
          &:focus::placeholder {
              color: transparent;
          }
      }
  }
  
  #search__input:focus+#search__input__icon__focused {
      //   color: #cccccc;
      display: flex;
      //   transform: translateX(-98px);
      //   height: 100px;
  }
  
  #search__input:focus~#search__input__icon__unfocused {
      //   color: #cccccc;
      position: absolute;
      transform: translateX(-98px);
      display: none;
      //   height: 100px;
  }