@import '/src/renderer/Global/Animations.scss';
@import '/src/renderer/Global/Colors.scss';
.overview_display__search__input:focus~* {
    transform: translateX(-25px);
}

.search {
    min-height: 64px;
    max-height: 64px;
    width: 100%;
    /* border-radius: 5px 5px 0 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    top: 0;
    left: 0;
    // border: 1px solid red;
    &__input {
        border: 1px solid red;
        //   border: 1px dotted red;
        transition: all 0.1s ease-in-out !important;
        width: 33vw !important;
        height: 40px;
        margin: 0px 16px;
        color: white;
        border-radius: 3px;
        background-color: $gray-dark-light;
        border: 1px solid $gray-dark-lightest;
        outline: none;
        font-size: 0.75rem;
        box-shadow: none;
        &__icon {
            transform: translateX(48px);
            height: 1rem;
            &__focused {
                transform: translateX(-48px);
            }
            &__clearText {
                transform: translateX(-48px);
                fill: #fff;
                cursor: pointer;
                transform: translateX(-48px);
            }
        }
        &::placeholder {
            color: rgb(167, 167, 167);
        }
        &:hover {
            width: 66vw;
        }
        &:focus::placeholder {
            color: transparent;
        }
    }
}

input[type='text'] {
    // padding-left: 40px;
    // border: 1px solid red;
    // height: 2.5rem;
}

#search__input {
    padding-left: 40px;
    // border: 1px solid red;
    // height: 2.5rem;
}

#search__input:focus+#search__input__icon__focused {
    display: flex;
}

#search__input:focus~#search__input__icon__unfocused {
    position: absolute;
    transform: translateX(-98px);
    display: none;
}

.search__input__hovering {
    //   border: 1px dotted red;
    transition: all 0.1s ease-in-out !important;
    width: 60vw;
    height: 40px;
    margin: 0px 16px;
    color: white;
    border-radius: 3px;
    background-color: $gray-dark-light;
    border: 1px solid $gray-dark-lightest;
    outline: none;
    font-size: 0.75rem;
    box-shadow: none;
}

.theme {
    position: absolute;
    // border: 1px solid red;
    height: 64;
    width: 64;
    right: 0;
    margin-top: 1rem;
    margin-right: 82px;
    cursor: pointer;
}

.settings {
    position: absolute;
    // border: 1px solid red;
    height: 64 !important;
    width: 64 !important;
    right: 0;
    margin-top: 1.5rem;
    margin-right: 22px;
    cursor: pointer;
}

.settings img,
.theme img {
    height: 1rem;
}