$nav-text-color: #000;
$nav-text-color_hover: #fff;
$gray-dark-darkest: #1a1a1a;
$gray-dark-dark: #202020;
$gray-dark-light: #252525;
$gray-dark-lightest: #313131;
$gradient-blue: linear-gradient( to left, #0463db 0%, #0b88e6 33%, #13aff2 66%, #19d2fc 100%);
.overview_display__search__input:focus~* {
    transform: translateX(-25px);
}

.search {
    min-height: 64px;
    max-height: 64px;
    width: 100%;
    /* border-radius: 5px 5px 0 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    //   position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    //   margin: 0px 0px;
    background-color: $gray-dark-dark;
    //   background-color: #eee;
    //   border: 1px dotted red;
    &:hover .search__input {
        // width: 100%;
    }
    &__input {
        //   border: 1px dotted red;
        transition: all 0.1s ease-in-out !important;
        width: 33%;
        //   padding: 10px;
        height: 40px;
        margin: 0px 16px;
        //   transform: translateX(-8px);
        //   padding: 1rem;
        color: white;
        border-radius: 3px;
        background-color: $gray-dark-light;
        border: 1px solid $gray-dark-lightest;
        outline: none;
        font-size: 14px;
        box-shadow: none;
        // padding-left: 40px !important;
        &__icon {
            transform: translateX(48px);
            height: 20px;
            &__focused {
                //   display: none;
                transform: translateX(-48px);
            }
            &__clearText {
                transform: translateX(-48px);
                fill: #fff;
                cursor: pointer;
                //   position: absolute;
                transform: translateX(-48px);
            }
        }
        &::placeholder {
            color: rgb(167, 167, 167);
            // padding-left: 60px;
            // transform: translateX(36px);
            // background-color: $gray-dark-lightest; // change
        }
        &:hover {
            width: 66%;
        }
        &:focus::placeholder {
            //   display: none;
            color: transparent;
            // transform: translateX(400px);
            //   color: transparent;
        }
    }
}

input[type='text'] {
    padding-left: 40px !important;
}

#search__input:focus+#search__input__icon__focused {
    //   color: #cccccc;
    display: flex;
    //   transform: translateX(-98px);
    //   height: 100px;
}

#search__input:focus~#search__input__icon__unfocused {
    //   color: #cccccc;
    position: absolute;
    transform: translateX(-98px);
    display: none;
    //   height: 100px;
}

.search__input__hovering {
    //   border: 1px dotted red;
    transition: all 0.1s ease-in-out !important;
    width: 66%;
    //   padding: 10px;
    height: 40px;
    margin: 0px 16px;
    //   transform: translateX(-8px);
    //   padding: 1rem;
    color: white;
    border-radius: 3px;
    background-color: $gray-dark-light;
    border: 1px solid $gray-dark-lightest;
    outline: none;
    font-size: 14px;
    box-shadow: none;
}

.settings {
    position: absolute;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    &:hover {
        background-color: $gray-dark-dark;
    }
    &__icon {
        height: 24px;
    }
}

.settings img {
    height: 24px;
}