// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem; //1140px standard grid width, but use rem for dynamic page adapting to viewport size
$gutter-vertical: 8rem; //80px -- gutter is space between columns
$gutter-horizontal: 6rem; //60px

// SHADOWS
$shadow-light: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
$shadow-before: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
$shadow-after: 0 8px 16px 0 rgba(0, 0, 0, 0.2);


// DIMENSIONS
$nav_A-height: 60px;