@import '/src/renderer/Global/Animations.scss';
@import '/src/renderer/Global/Colors.scss';
.contentPanel__browser {
    // height: 100%;
    // height: calc(100vh - 192px);
    // background-image: $gradient-blue;
    height: calc(100vh - 192px);
    // border: 3px dotted red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: start;
    justify-content: center;
    // overflow: hidden;
    // overflow: scroll;
    // background-color: #fff;
    &__collapsed {
        width: 72px;
        height: calc(100vh - 192px);
    }
}

.contentPanel__browser img {
    width: 100%;
    height: 100%;
    // border: 1px solid #000;
    // transform: translateX(0px) translateY(-3px);
    // z-index: 1;
}

.contentPanel__browser__white_background {
    width: 100%;
    height: 100%;
    // background-color: #fff;
    // border: 1px solid #000;
    // transform: translateX(0px) translateY(-3px);
    // z-index: 1;
}