$nav-text-color: #000;
$nav-text-color_hover: #fff;
$gray-dark-darkest: #1a1a1a;
$gray-dark-dark: #202020;
$gray-dark-light: #252525;
$gray-dark-lightest: #313131;
// $gray-light-lightest: #454545;
$gradient-blue: linear-gradient( to left, #0463db 0%, #0b88e6 33%, #13aff2 66%, #19d2fc 100%);
.content {
    // box-sizing: content-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: center;
    // border: 3px dotted red;
    background-color: $gray-dark-lightest;
    height: calc(100vh - 192px);
}

.contentPanel {
    // height: 100%;
    // height: calc(100vh - 192px);
    height: calc(100vh - 200px);
    width: 100%;
    // border: 3px dotted red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    // width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    // justify-content: center;
    // overflow: hidden;
    // overflow: scroll;
}

.content__panel__warpstagram__accounts {
    // height: 100%;
    // width: 98%;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: center;
    // margin: 0 auto;
    // padding: 2px 8px 2px 8px !important;
    overflow: hidden;
    // overflow-y: scroll;
    height: calc(100vh - 192px);
    list-style: none;
    // border: 1px dotted red;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    left: 0 !important;
    position: relative;
    margin: 0;
    width: 99.8%;
    padding: 0 0;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    // border: 1px dotted red;
    height: 100%;
    // padding: 4px 16px;
}

.content__panel__warpstagram__account {
    height: 230px !important;
    width: 99%;
    display: flex;
    // margin-top: 8px;
    margin-bottom: 8px;
    // margin-left: 48px;
    // margin-right: 48px;
    // margin: 4px 16px;
    will-change: transform;
    flex-direction: column;
    // justify-content: center;
    align-items: left;
    border: 1px solid rgb(79, 79, 79);
    // border: 1px solid $gray-dark-lightest;
    background-color: $gray-dark-light;
    border-radius: 2px;
    // margin: 2px 4px !important;
    will-change: transform;
    animation: moveInLeftWarpstagramAccount 0.25s ease-in-out;
    // border: 1px dotted red;
    &:hover {
        background-color: $gray-dark-lightest;
        // transform: scaleX(1.001);
        box-shadow: -20px 30px 80px 0 rgba(0, 0, 0, 0.54) !important;
        // transform: scale(1.01);
        // cursor: pointer;
    }
    &__info {
        display: flex;
        flex-direction: row;
        justify-content: start flex;
        align-items: center;
        margin-top: 15px;
        margin-left: 15px;
        height: 20px; // border: 1px dotted white;
        // height: auto;
        &__text {
            color: rgb(162, 162, 162);
            font-size: 14px;
            // margin: 8px 0;
            font-weight: 100 !important;
            // border: 1px dotted white;
        }
        &__avatar {
            height: 20px;
            border-radius: 50%;
            width: 20px !important;
            margin-left: 8px;
            cursor: pointer;
        }
        &__name {
            font-size: 14px;
            margin-left: 8px;
            font-weight: 100 !important;
            cursor: pointer;
            // border: 1px dotted white;
        }
        &__posts {
            margin-left: 8px;
            font-size: 14px;
        }
        &__posts-type {
            margin-left: 8px;
            font-size: 14px;
        }
    }
    &__posts {
        display: flex;
        flex-direction: row;
        // justify-content: space-between !important;
        justify-content: space-evenly;
        align-items: center;
        // margin-top: 5px;
        margin: 15px 15px;
        // border: 1px dotted white;
        // margin-bottom: 4px;
        &__item {
            margin-left: 4px;
            // animation: moveInLeftWarpstagramAccount 0.25s ease-in-out;
            border-radius: 1px;
            min-height: 164px !important;
            max-height: 164px !important;
            min-width: 164px !important;
            max-width: 164px !important;
            object-fit: cover; // fill contain
            background: grey;
            &:hover {
                // box-shadow: 0 70px 63px -60px #000000;
                cursor: pointer;
            }
        }
    }
}

.content__panel__warpstagram__account__posts:hover>*:not(:hover) {
    filter: brightness(1) saturate(1) contrast(0.75) blur(0px);
}

// .content__panel__warpstagram__account:hover>*:not(:hover) * img {
//     // .content__panel__warpstagram__account:hover {
//     // transform: scale(1.501);
//     filter: brightness(0.5) saturate(0.5) contrast(1.0) blur(0px);
// }