$nav-text-color: #000;
$nav-text-color_hover: #fff;
$gray-dark-darkest: #1a1a1a;
$gray-dark-dark: #202020;
$gray-dark-light: #252525;
$gray-dark-lightest: #313131;
// $gray-light-lightest: #454545;
$gradient-blue: linear-gradient( to left, #0463db 0%, #0b88e6 33%, #13aff2 66%, #19d2fc 100%);
.content {
    box-sizing: content-box;
    // position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: center;
    height: calc(100vh - 192px);
    // border: 1px solid red;
    // height: 100%;
}

.contentPanel {
    // border: 1px solid red;
    // height: 100%;
    height: calc(100vh - 192px);
    // height: calc(100vh - 200px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    // width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    // justify-content: center;
    // overflow: hidden;
    // overflow: scroll;
}