@import '/src/renderer/Global/Animations.scss';
@import '/src/renderer/Global/Colors.scss';
@keyframes fadeIn {
    from {
        // transform: scale(0);
        opacity: 0;
        // -webkit-transform: rotate(0deg);
    }
    to {
        opacity: 1;
        // transform: scale(1);
        // -webkit-transform: rotate(360deg);
    }
}

.content {
    box-sizing: content-box;
    // position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: center;
    height: calc(100vh - 192px);
    animation: fadeIn 1s ease-out;
    // border: 1px solid red;
    // height: 100%;
}

.contentPanel {
    // height: 100%;
    // height: calc(100vh - 200px);
    height: calc(100vh - 192px);
    // width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    // width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    animation: fadeIn 1s ease-out;
    &__collapsed {
        height: calc(100vh - 192px);
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 72px !important;
    }
}