$nav-text-color: #000;
$nav-text-color_hover: #fff;
$gray-dark-darkest: #1a1a1a;
$gray-dark-dark: #202020;
$gray-dark-light: #252525;
$gray-dark-lightest: #313131;
// $gray-light-lightest: #454545;
$gradient-blue: linear-gradient( to left, #0463db 0%, #0b88e6 33%, #13aff2 66%, #19d2fc 100%);
@keyframes moveInLeftDownload {
    0% {
        opacity: 0;
        // transform: translateX(-500px) scale(3); // start keyframe, just translate position on x axis to left 10rem
        // transform: translateX(-350px) scale(1); // start keyframe, just translate position on x axis to left 10rem
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg) translateX(-1000px);
        // z-index: 5;
        // transform: translateX( -500px); // start keyframe, just translate position on x axis to left 10rem
        // transform: translateX( -20rem); // start keyframe, just translate position on x axis to left 10rem
    }
    80% {
        // transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        // transform: translate(0) scale(1);
        //putting zero basically places elements how it looks normally above we just offset the starting keyframes by translating it over
    }
}

.content__panel__toggle_collapse {
    // position: absolute;
    // display: none;
    top: 0;
    // left: calc(50vw + 25px);
    left: calc(50vw + 0px);
    // left: 50vw - 50px;
    height: 100%;
    width: 25px;
    // border: 1px solid red;
    z-index: 10;
    background-image: $gradient-blue;
    cursor: pointer;
}

.content__panel__downloads__list {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    left: 0 !important;
    position: relative;
    margin: 0;
    width: 100%;
    padding: 0 0;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    // border: 1px dotted red;
    height: 100%;
    &:hover .content__panel__toggle_collapse {
        display: flex;
    }
    &__item {
        padding: 5px;
        border-radius: 3px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        will-change: transform;
        width: 100%;
        border: 1px solid $gray-dark-lightest;
        background-color: $gray-dark-light;
        min-height: 50px !important;
        height: 56px !important;
        animation: moveInLeftDownload 0.5s ease-in-out;
        // animation-delay: 0.5s;
        // border: 1px dotted red;
        color: rgb(167, 167, 167);
        // z-index: 10;
        &__img {
            width: 14px;
            // border-radius: 50%;
            // margin-left: 8px;
            // margin-right: 10px;
        }
        &:hover {
            border: 1px solid $gray-dark-lightest;
            // transform: scaleX(1.1001);
            box-shadow: -20px 30px 80px 0 rgba(0, 0, 0, 1) !important;
            background-color: $gray-dark-lightest;
            // background-image: $gradient-blue;
            cursor: pointer;
        }
        &:hover .filterBar__menu__item {
            opacity: 1;
        }
        &__thumbnail {
            border-radius: 1px;
            // height: 100%;
            display: block;
            max-height: 56px;
            // width: auto;
            // height: auto;
        }
        &__info {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            justify-content: space-evenly;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 100%;
            // border: 1px dotted green;
            margin-left: 24px;
            &__container {
                // border: 1px dotted red;
                display: flex;
                flex-direction: row !important;
                justify-content: flex-start;
                // justify-content: center !important;
                align-items: center;
                width: 100%;
            }
        }
        &__text {
            font-size: 12px;
            margin-right: 16px;
            margin-left: 8px;
            // color: $gray-dark-darkest;
            color: white;
        }
        &__title {
            // font-size: 7px;
            margin-left: 0px;
            font-size: 14px;
        }
        &__file_length {
            color: rgb(162, 162, 162);
        }
        &__file_type {
            color: rgb(162, 162, 162);
            // font-size: 7px;
        }
        &__file_size {
            color: rgb(162, 162, 162);
        }
        &__file_resolution {
            color: rgb(162, 162, 162);
        }
        &__file_fps {
            color: rgb(162, 162, 162);
        }
    }
}

.content__panel__downloads__list__item .filterBar__menu__item {
    opacity: 0;
}