@import '/src/renderer/Global/Animations.scss';
@import '/src/renderer/Global/Colors.scss';
.content__panel__toggle_collapse {
    top: 0;
    left: calc(50vw + 0px);
    height: 100%;
    width: 25px;
    // border: 1px solid red;
    z-index: 10;
    background-image: $gradient-blue;
    cursor: pointer;
}

.content__panel__downloads__list:first-child {
    margin-top: 0.5rem;
}

.content__panel__downloads__list {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    left: 0 !important;
    position: relative;
    margin: 0;
    width: calc(100% - 0.5rem);
    padding: 0 0;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    &:hover .content__panel__toggle_collapse {
        display: flex;
    }
    &__item {
        padding: 5px;
        border-radius: 3px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        will-change: transform;
        width: calc(100% - 1.5rem);
        border: 1px solid $gray-dark-lightest;
        background-color: $gray-dark-light;
        min-height: 56px !important;
        max-height: 56px !important;
        background-color: #1a1a1a;
        color: rgb(167, 167, 167);
        background-position: center;
        background-size: 0%;
        position: relative;
        &__img {
            width: 14px;
        }
        &:hover {
            border: 1px solid $gray-dark-lightest;
            // transform: scaleX(1.1001);
            box-shadow: -20px 30px 80px 0 rgba(0, 0, 0, 1) !important;
            background-color: $gray-dark-lightest;
            transition: all 0s ease-in-out !important;
            z-index: 1;
            cursor: pointer;
            background-size: 100%;
        }
        &:hover .filterBar__menu__item {
            transition: all 0s ease-in-out;
            opacity: 1;
        }
        &__thumbnail {
            border-radius: 1px;
            display: block;
            max-height: 56px;
        }
        &__info {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 100%;
            // border: 1px dotted green;
            margin-left: 1.5rem;
            overflow: hidden;
            &__container {
                display: flex;
                flex-direction: row !important;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                &__1,
                &__2 {
                    text-overflow: hidden !important;
                }
            }
        }
        &__text {
            white-space: nowrap;
            font-size: 0.75rem;
            margin-right: 16px;
            margin-left: 8px;
            // border: 1px dotted red;
            color: white;
        }
        &__title {
            margin-left: 0px;
            font-size: 0.75rem;
            // border: 1px dotted red;
        }
        &__file_source {
            color: rgb(162, 162, 162);
        }
        &__file_length {
            color: rgb(162, 162, 162);
        }
        &__file_type {
            color: rgb(162, 162, 162);
        }
        &__file_size {
            color: rgb(162, 162, 162);
        }
        &__file_resolution {
            color: rgb(162, 162, 162);
        }
        &__file_fps {
            color: rgb(162, 162, 162);
        }
        &__file_downloading {
            animation: downloading 1s linear 0s infinite;
        }
        &__file_converting {
            animation: clockWise 1s linear 0s infinite;
        }
        &__file_eta_downloading {
            animation: infinity 1s linear 0s infinite;
            margin-left: 2.5rem;
        }
        &__file_eta_conversion {
            animation: infinity 1s linear 0s infinite;
            margin-left: 4rem;
        }
        &__file_date {
            &__text {
                color: rgb(162, 162, 162);
                // border: 1px dotted red;
                width: 50px !important;
                text-overflow: clip !important;
            }
        }
    }
}

.content__panel__downloads__list__item .filterBar__menu__item {
    opacity: 0;
    transition: all 0s ease-in-out !important;
    // border: 1px dotted red;
}

.content__panel__downloads__list__activation {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 0rem);
    right: 1.25rem;
    bottom: 0px;
    min-height: 56px !important;
    max-height: 56px !important;
    position: absolute;
    left: 0 !important;
    position: relative;
    margin: 0;
    width: calc(100% - 0.5rem);
    // border: 1px dotted red;
    z-index: 10;
}

.content__panel__downloads__list__activation__item {
    z-index: 10;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    will-change: transform;
    width: calc(100% - 0rem);
    border: 1px solid $gray-dark-lightest;
    background-color: $gray-dark-light;
    min-height: 56px !important;
    max-height: 56px !important;
    background-color: #1a1a1a;
    // border: 1px dotted red;
    color: rgb(167, 167, 167);
    background-position: center;
    background-size: 0%;
    &:hover {
        border: 1px solid $gray-dark-lightest;
        background-color: $gray-dark-lightest;
        transition: all 0s ease-in-out !important;
        z-index: 1;
        cursor: pointer;
        background-size: 100%;
    }
    &__title {
        display: flex;
        flex-direction: column;
        // border: 1px dotted red;
        justify-content: flex-start !important;
        align-items: left;
        height: 50px;
        width: 100%;
        margin: 0;
        margin-left: 1rem;
        padding: 0;
        overflow: hidden;
        &__text1 {
            color: #fff;
            font-size: 0.9rem;
            margin: 0;
            padding: 0;
            padding: 2px;
        }
        &__text2 {
            color: gray;
            font-size: 0.75rem;
            padding: 2px;
            margin: 0;
        }
    }
    &__cta {
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        justify-content: space-evenly;
        align-items: center;
        right: 0;
        background-image: linear-gradient(to right, #ff0000, #ffbf00);
        height: 50px;
        width: 25%;
        min-width: 250px;
        color: #000;
        margin: 1rem;
        width: clamp(250px, 14rem, 14rem);
        background-image: $gradient-blue;
        // top: 0;
        margin-top: 8px;
        margin-bottom: 8px;
        margin-right: 1rem;
        height: 48px;
        border-radius: 3px;
        font-size: 0.75rem;
        background-color: $gray-dark-lightest;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center !important;
        cursor: pointer;
        &:hover {
            box-shadow: -20px 30px 80px 0 rgba(0, 0, 0, 1) !important;
            cursor: pointer;
            background-size: 100%;
        }
        & img {
            width: 1rem;
            margin-right: 0.75rem;
        }
    }
}

@media (min-width: 800px) and (max-width: 1200px) {
    .content__panel__downloads__list__activation__item__title {
        font-size: 0px;
        display: none;
        &__text1 {
            font-size: 0px;
        }
        &__text2 {
            font-size: 0px;
        }
    }
    .content__panel__downloads__list__activation__item__cta {
        // border: 1px solid red;
        width: clamp(250px, 100%, 100%);
    }
}