$nav-text-color: #000;
$nav-text-color_hover: #fff;
$gray-dark-darkest: #1a1a1a;
$gray-dark-dark: #202020;
$gray-dark-light: #252525;
$gray-dark-lightest: #313131;
// $gray-light-lightest: #454545;
$gradient-blue: linear-gradient( to left, #0463db 0%, #0b88e6 33%, #13aff2 66%, #19d2fc 100%);
@keyframes moveInLeftWarpstagramAccount {
    0% {
        opacity: 0;
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg) translateX(-1000px);
        // transform: translateX( -1000px); // start keyframe, just translate position on x axis to left 10rem
    }
    80% {
        // opacity: 0.2;
        // transform: translateX(8px) skewX(-8deg);
    }
    100% {
        opacity: 1;
        transform: translate(0);
        //putting zero basically places elements how it looks normally above we just offset the starting keyframes by translating it over
    }
}

@keyframes flipInX {
    from {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
        // opacity: 0;
    }
    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    }
    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    to {
        transform: perspective(400px);
        opacity: 1;
    }
}

.content__panel__warpstagram__accounts {
    // height: 100%;
    // width: 98%;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: center;
    // margin: 0 auto;
    // padding: 2px 8px 2px 8px !important;
    overflow: hidden;
    // overflow-y: scroll;
    height: calc(100vh - 192px);
    list-style: none;
    // border: 1px dotted red;
    display: flex;
    position: absolute;
    flex-direction: column;
    // align-items: flex-start;
    align-items: center;
    justify-content: flex-start;
    left: 0 !important;
    position: relative;
    margin: 0;
    width: 99.8%;
    padding: 0 0;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    // border: 1px dotted red;
    height: 100%;
    // padding: 4px 16px;
    // &:hover> :not(:hover) * {
    //     // filter: brightness(1) saturate(1) contrast(1) blur(0px);
    // }
}

.content__panel__warpstagram__account {
    height: 230px !important;
    width: 99vw;
    width: 96.5vw;
    display: flex;
    margin-top: 1rem;
    // margin-bottom: 8px;
    // margin-left: 24px;
    // margin-right: 16px;
    // margin-right: 48px;
    // margin: 4px 16px;
    will-change: transform;
    flex-direction: column;
    // justify-content: center;
    align-items: left;
    // align-items: flex-start;
    border: 1px solid rgb(79, 79, 79);
    // border: 1px solid $gray-dark-lightest;
    background-color: $gray-dark-light;
    border-radius: 4px;
    // margin: 2px 4px !important;
    will-change: transform;
    animation: moveInLeftWarpstagramAccount 0.5s ease-in-out;
    // border: 1px dotted red;
    &:hover {
        background-color: $gray-dark-lightest;
        // transform: scaleX(1.001);
        box-shadow: -20px 30px 80px 0 rgba(0, 0, 0, 0.54) !important;
        // transform: scale(1.01);
        // cursor: pointer;
    }
    &__info {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        height: 24px;
        letter-spacing: 0.01rem;
        // border: 1px dotted white;
        // height: auto;
        // width: 100%;
        &__text {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            align-content: center;
            color: rgb(162, 162, 162);
            font-size: 14px;
            // margin: 8px 0;
            font-weight: 400 !important;
            letter-spacing: 0.01rem;
            // border: 1px dotted white;
        }
        &__avatar {
            height: 20px;
            border-radius: 50%;
            width: 20px !important;
            margin-left: 8px;
            cursor: pointer;
        }
        &__name {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
            font-size: 14px;
            margin-left: 8px;
            font-weight: 100 !important;
            cursor: pointer;
            color: #fff;
            letter-spacing: 0.02rem;
            // border: 1px dotted white;
        }
        &__posts {
            margin-left: 8px;
            font-size: 14px;
        }
        &__posts-type {
            margin-left: 8px;
            font-size: 14px;
        }
    }
    &__posts {
        display: flex;
        flex-direction: row;
        // justify-content: space-between !important;
        min-height: 164px;
        max-height: 164px;
        justify-content: flex-start;
        align-items: center;
        margin: 15px;
        // border: 1px dotted white;
        overflow: hidden;
        &__item {
            // border: 1px dotted white;
            margin-left: 4px;
            animation: moveInLeftWarpstagramAccount 0.5s ease-in-out;
            // animation-delay: 0.25s;
            border-radius: 2px;
            min-height: 164px !important;
            max-height: 164px !important;
            min-width: 164px !important;
            max-width: 164px !important;
            // overflow: hidden;
            object-fit: cover; // fill contain
            // background: grey;
            transition: all 0.1s ease-in-out;
            &:hover {
                transform: scale(1.05);
                // transform: scale(1.1) perspective(4000px) rotate3d(1, 100, 0, 0deg);
                box-shadow: 10px 70px 63px -60px #000000;
                cursor: pointer;
            }
        }
    }
}

.content__panel__warpstagram__account__posts:hover>*:not(:hover) {
    filter: brightness(1) saturate(1) contrast(1) blur(0px);
}