@import '/src/renderer/Global/Animations.scss';
@import '/src/renderer/Global/Colors.scss';
@keyframes moveInLeftWarpstagramAccount {
    0% {
        opacity: 0;
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg) translateX(-1000px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
        //putting zero basically places elements how it looks normally above we just offset the starting keyframes by translating it over
    }
}

@keyframes flipInX {
    from {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
        // opacity: 0;
    }
    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    }
    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    to {
        transform: perspective(400px);
        opacity: 1;
    }
}

.content__panel__warpstagram__accounts {
    overflow: hidden;
    // overflow-x: scroll;
    height: calc(100vh - 192px);
    list-style: none;
    // border: 1px dotted red;
    display: flex;
    position: absolute;
    flex-direction: column;
    // align-items: flex-start;
    align-items: center;
    justify-content: flex-start;
    left: 0 !important;
    position: relative;
    margin: 0;
    // width: 99.8%;
    padding: 0 0;
    width: calc(100vw);
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    // border: 1px dotted red;
    height: 100%;
}

.content__panel__warpstagram__account {
    height: 230px !important;
    width: calc(100% - 32px);
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    align-items: left;
    border: 1px solid rgb(79, 79, 79);
    background-color: $gray-dark-light;
    border-radius: 4px;
    will-change: transform;
    &:hover {
        background-color: $gray-dark-lightest;
        box-shadow: -20px 30px 80px 0 rgba(0, 0, 0, 0.54) !important;
    }
    &__info {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        height: 24px;
        letter-spacing: 0.01rem;
        // border: 1px dotted white;
        &__text {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            align-content: center;
            color: rgb(162, 162, 162);
            font-size: 0.75rem;
            font-weight: 400 !important;
            letter-spacing: 0.01rem;
            // border: 1px dotted white;
        }
        &__avatar {
            height: 20px;
            border-radius: 50%;
            width: 20px !important;
            margin-left: 8px;
            cursor: pointer;
        }
        &__name {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
            font-size: 0.75rem;
            margin-left: 8px;
            font-weight: 100 !important;
            cursor: pointer;
            color: #fff;
            letter-spacing: 0.02rem;
            // border: 1px dotted white;
        }
        &__posts {
            margin-left: 8px;
            font-size: 0.75rem;
        }
        &__posts-type {
            margin-left: 8px;
            font-size: 0.75rem;
        }
    }
    &__posts {
        display: flex;
        flex-direction: row;
        // justify-content: space-between !important;
        min-height: 164px;
        max-height: 164px;
        justify-content: flex-start;
        align-items: center;
        margin: 15px;
        // border: 1px dotted white;
        overflow: hidden;
        overflow-x: scroll;
        &__item {
            // border: 1px dotted white;
            margin-left: 4px;
            border-radius: 2px;
            min-height: 164px !important;
            max-height: 164px !important;
            min-width: 164px !important;
            max-width: 164px !important;
            will-change: transform;
            // overflow: hidden;
            object-fit: cover; // fill contain
            transition: all 0.1s ease-in-out;
            &:hover {
                width: 540px;
                transform: scale(1.02);
                box-shadow: 10px 70px 63px -60px #000000;
                cursor: pointer;
            }
        }
    }
}

.content__panel__warpstagram__account__posts:hover>*:not(:hover) {
    filter: brightness(1) saturate(1) contrast(1) blur(0px);
}