// https://www.w3schools.com/howto/howto_custom_select.asp
.modalDropdownListContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    // border: 1px dotted white;
}

.modalDropdownColumn {
    height: 100%;
    width: 50%;
    // border: 1px dotted white;
}

.modalDropdownColumn_left {
    margin-right: 1.4rem;
}

.modalDropdownContent {
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.4rem;
    // border: 1px dotted white;
}

.modalDropdown_child {
    width: 100%;
}

.modalDropdown_title {
    height: auto;
    display: flex;
    justify-content: flex-start;
}

.modalDropdown_title p {
    color: #ffffff;
    font-size: 1.4rem;
    cursor: default;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    margin-bottom: 5px;
}

.modalDropdownList_list {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 2px;
    border: solid 1px #464646a1; // test
}

.modalDropdownList_list select {
    background-color: #2a2a2a;
    line-height: 40px;
    border: 0;
    padding: 0;
    border-radius: inherit;
    height: 40px;
    width: 100%;
    position: relative;
    z-index: 10;
    color: #ffffff;
    font-size: 1.4rem;
    cursor: pointer;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    // border: 1px dotted white;
    transition: 0.25s;
    &:hover {
        background-color: #464646a1;
    }
}

.modalDropdownList_list_select {}