.modalPrefsPanel {
    height: 100%;
    width: 100%;
    // min-width: 180px;
    border: 1px dotted green;
    // padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    // background-color: $gray-dark-lightest;
    // box-shadow: 0 10px 20px -8px #c5d6d6;
}