$nav-text-color: #000;
$nav-text-color_hover: #fff;
$gray-dark-darkest: #1a1a1a;
$gray-dark-dark: #202020;
$gray-dark-light: #252525;
$gray-dark-lightest: #313131;
$gradient-blue: linear-gradient( to left, #0463db 0%, #0b88e6 33%, #13aff2 66%, #19d2fc 100%);
.product {
    // border: 1px solid red;
    display: flex;
    // height: 300px;
    margin: 1rem;
    height: 100%;
    // height: 30vh;
    width: 100%;
    // width: calc(50% - 2rem);
    flex-direction: column;
    background-color: $gray-dark-darkest;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem rgba(0, 0, 0, 0.5);
    // margin-left: -50px;
    transition: 0.3s ease-out;
    position: relative;
    // margin: 2rem;
    // left: 0px;
    transition: 0.3s ease-out;
    z-index: 999;
    &:hover {
        transform: scale(1.01);
        transition: 0.3s ease-out;
    }
    // background-color: #eee;
    &__light {
        background-color: #eee;
    }
    &__light * {
        color: #000;
    }
}

.product_description__light {
    // color: red !important;
}

// #product_audio1 {
// }
.product img {
    height: 35px;
    // top: 10px;
    margin-top: 15px;
    position: relative;
}

// .product:not(:first-child) {
//     margin-left: -50px;
// }
.product:hover {
    // transform: translateY(-20px);
    // transition: 0.3s ease-out;
}

.product:hover~.product {
    // position: relative;
    // left: 50px;
    // transition: 0.3s ease-out;
}

.product_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    background-color: $gray-dark-light;
    background-color: #fff;
    width: 100%;
    border-radius: 10px 10px 0 0;
    // height: 100px;
    // border: 1px dotted red;
    height: 7rem;
    font-family: 'GreycliffCF-Bold', sans-serif !important;
    // height: auto;
    &__light {
        background-color: #fff;
    }
    &__light h4 {
        color: black;
    }
}

.product__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    background-color: $gray-dark-light;
    background-color: #fff;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    // height: 100px;
    // border: 1px dotted red;
    height: 7rem;
    font-family: 'GreycliffCF-Bold', sans-serif !important;
    // height: auto;
    &__light {
        background-color: #fff;
    }
    &__light h4 {
        color: black;
    }
}

.title {
    color: black;
    font-weight: 100;
    // position: absolute;
    // border: 1px dotted red;
    margin: 15px auto;
    // margin-top: 20px;
    // left: 20px;
    font-family: 'GreycliffCF-Bold', sans-serif !important;
    // top: 10px;
}

.product_description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0 0 10px 10px;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    // border: 1px dotted red;
    // background-color: $gray-dark-darkest;
}

.product_description p {
    // font-family: ProximaNova-Regular, Proxima Nova, Montserrat, sans-serif !important;
    font-family: Proxima Nova, Montserrat, sans-serif;
    font-size: 0.9rem;
    color: white !important;
    font-weight: 100;
    text-align: center;
    // border: 1px dotted red;
    // margin: 15px 15px;
    // margin-top: 10px;
}

.product_description__light p {
    color: black !important;
}