body {
    // font-family: 'Century Gothic', 'Lato', sans-serif; // sharp font
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    // font-family: 'Nunito', sans-serif; // soft, rounded font
    // font-family: 'Poppins', sans-serif; // soft, rounded font
    overflow: hidden; // prevents scrolling
}

h1 {
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    // font-family: "Century Gothic", "Lato", sans-serif; // sharp font
    // animation: moveInRight 1s ease-out;
}

p {
    // font-family: 'Poppins', sans-serif; // soft, rounded font
}

h3,
h4 {
    // font-family: "Nunito", sans-serif; // soft, rounded font
    // font-family: 'Poppins', sans-serif; // soft, rounded font
    // font-size: 17px;
    // font-weight: 500;
    // letter-spacing: 1px;
    // animation: moveInRight 1s ease-out;
}

a {
    text-decoration: none;
    font-size: 2rem;
    // font-family: 'Poppins', sans-serif; // soft, rounded font
}

li {
    font-size: 1.5rem;
}

.nav_A a {
    font-size: 1.25rem;
}