// @import 'compass';
@import 'abstracts/mixins';
@import 'abstracts/variables';
@import 'abstracts/variables-colors';
@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'components/buttons';
@import 'components/nav-primary';
@import 'components/nav-secondary';
@import 'layouts/content-slide';
@import 'components/downloadItem';
@import 'components/downloadItemOptionsMenu';
@import 'layouts/grid';
@import 'pages/warpstagram';
@import 'pages/warpstagram-userSearch';
@import 'pages/warpstagram-filterToolbar';
@import 'pages/warpstagram-userInfo';
@import 'pages/modal-settings';
@import 'style-splash';
// modal prefs
.contentContainer {
    width: 95%;
    height: 97%;
    // width: 100%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    // border: 1px dotted red;
    margin: auto;
    border-radius: 4px;
}

.panel3 {
    width: 100%;
    flex-grow: 1;
    // background-color: black;
    // border: 1px dotted white;
}

.modalPrefsTitle {
    display: flex;
    // border: 1px dotted white;
    flex-direction: row;
    height: 40px;
    width: 100%;
}

.modalPrefsTitle_child {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    // border: 1px dotted white;
    flex-grow: 1;
}

.modalPrefsTitle_child p {
    color: white;
    font-size: 1.5rem;
    margin-left: 1rem;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    cursor: default;
    letter-spacing: 0.1rem;
}

.modalPrefsTitle_child i {
    color: white;
    margin-right: 1rem;
    cursor: pointer;
}

.modalPrefsTitle_child_left {
    // background-color: rgb(226, 177, 177);
    justify-content: flex-start;
}

.modalPrefsTitle_child_right {
    // background-color: rgb(224, 211, 211);
    justify-content: flex-end;
}

.modalPrefsNav {
    height: 50px;
    width: 100%;
    // border: 1px dotted red;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    // box-shadow: 0 10px 20px -8px #c5d6d6;
}

.modalPrefsNav_button {
    display: flex;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: evenly;
    align-content: center;
    color: #ffffff60;
    cursor: pointer;
    justify-content: center; // PRODUCTION
    &:hover {
        background-color: rgba(238, 238, 238, 0.205);
        color: #ffffff;
    }
}

.modalPrefsNav_button p {
    font-size: 1.4rem;
    margin-left: 1rem;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    margin-right: 8px;
}

.modalPrefsNav_button i {
    font-size: 1.4rem;
    margin-top: 2px;
}

// TOGGLE BUTTON
.modalPrefsToggleButton {
    width: 100%;
    height: 24px;
    // border: 1px dotted red;
    display: flex;
}

.modalPrefsToggleButton_child {
    flex-grow: 1;
    cursor: default;
    border: 1px dotted white;
}

.modalPrefsToggleButton_child_left {
    display: flex;
    justify-content: flex-start;
}

.modalPrefsToggleButton_child_right {
    display: flex;
    justify-content: flex-end;
}

.modalPrefsToggleButton_child p {
    justify-content: flex-start;
    font-size: 1.4rem;
    color: #ffffff;
    margin-left: 1rem;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
}

// #app-cover {
//     display: table;
//     width: 600px;
//     margin: 80px auto;
//     counter-reset: button-counter;
// }
// .row {
//     display: table-row;
// }
.toggle-button-cover {
    display: table-cell;
    position: relative;
    width: 200px;
    height: 140px;
    box-sizing: border-box;
}

.button-cover {
    height: 100px;
    margin: 20px;
    background-color: #fff;
    // box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
}

.button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover,
.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r,
.button.r .layer {
    border-radius: 100px;
}

.button.b2 {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #6d6d6d; // bgd color, OFF
    transition: 0.1s ease all;
    z-index: 1;
}


/* Button 1 */

#button-1 .knobs:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #fff; // button color, OFF
    border-radius: 50%;
    transition: 0.1s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked+.knobs:before {
    content: '';
    left: 42px;
    background-color: #fff; // button color, ON
}

#button-1 .checkbox:checked~.layer {
    background: linear-gradient(268deg, #f8ab37, #da2c4d); // bgd color, ON
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
    transition: 0.1s ease all;
}