    @import 'base/animations';
    @import 'glitch';
    @import 'components/splash-title';
    @import 'components/splash-status';
    @import 'base/whoa-animations';
    @import 'base/animateCSS';
    $themeTextColor: #0E0F0F; // fallback
    $themeBackgroundColor: #ECECEC; // fallback
    body {
        background: $themeBackgroundColor;
        background: -webkit-radial-gradient(75%, #2a2a2a, #000 50%);
        border-radius: 5px;
        overflow: hidden;
        height: 400px;
        width: 980px;
        cursor: none;
    }
    
    h1 {
        font-family: "Proxima Nova";
        position: absolute;
    }
    
    .container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 400px;
        width: 980px;
        border-radius: 5px;
        background: transparent;
    }
    
    #version,
    #status,
    #legal {
        position: absolute;
        color: $themeTextColor;
        width: auto;
        left: 52px;
        display: flex;
        align-items: center;
    }
    
    #version {
        top: 155px;
        font-size: 22px;
        font-weight: 400;
    }
    
    #legal {
        top: 310px;
        font-size: 7px;
        font-weight: 100;
        text-transform: uppercase;
    }
    
    #gui {
        left: 0;
        position: fixed;
        top: 0;
        z-index: 1;
    }