    @import 'base/animations';
    @import 'base/whoa-animations';
    @import 'base/animateCSS';
    $themeTextColor: #0E0F0F;
    $themeBackgroundColor: #ECECEC;
    body {
        background: $themeBackgroundColor;
        /* background: -webkit-radial-gradient(75%, #2a2a2a, #000 50%); */
        border-radius: 5px;
        overflow: hidden;
        // width: auto;
        cursor: none;
    }
    
    h1 {
        font-family: "Proxima Nova";
        position: absolute;
    }
    
    .container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        border-radius: 5px;
        background: transparent;
    }
    
    @keyframes animate {
        from {
            filter: hue-rotate(0deg);
        }
        to {
            filter: hue-rotate(360deg);
        }
    }
    
    .glowing {
        color: #ffffff;
        animation: animate 3s infinite;
        animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
        text-shadow: 0 0 5px #fff, 0 0 10px #0072ff, 0 0 20px #0072ff, 0 0 30px #0072ff, 0 0 40px #0072ff, 0 0 50px #0072ff, 0 0 75px #0072ff, 0 0 100px #0072ff, 0 0 125px #0072ff, 0 0 150px #0072ff, 0 0 175px #0072ff;
    }
    
    .coloredGradientText {
        background: -webkit-linear-gradient(90deg, #a445b2 0%, #d41872 50%, #ff0066 100%);
        background-blend-mode: normal;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    #app-title {
        position: absolute;
        // cursor: none;
        left: 50px;
        top: 110px;
        height: 46px;
        font-family: "Proxima Nova";
        font-size: 36px;
        font-weight: 400;
        display: flex;
        align-items: center;
        // background: -webkit-linear-gradient(90deg, #a445b2 0%, #d41872 50%, #ff0066 100%);
        // background-blend-mode: normal;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
    }
    
    #version,
    #status,
    #legal {
        color: $themeTextColor;
        width: auto;
    }
    
    #version {
        position: absolute;
        left: 52px;
        top: 155px;
        // width: 91px;
        height: 56px;
        // color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 22px;
        font-weight: 400;
        display: flex;
        align-items: center;
    }
    
    .status3 {
        top: 240px;
        opacity: 0.11;
    }
    
    .status2 {
        top: 260px;
        opacity: 0.33;
    }
    
    .status1First {
        top: 280px;
        animation: lightSpeedInLeft 0.5s ease-out;
    }
    
    .status1 {
        top: 280px;
        animation: lightSpeedInLeft 0.5s ease-out;
    }
    
    .fadeOut {
        opacity: 0;
        transform: translate(0px, -20px);
        transition: all 1s ease-in-out;
    }
    
    .becomeStatus3 {
        opacity: 0.25;
        transform: translate(0px, -20px);
        transition: all 1s ease-in-out;
    }
    
    .becomeStatus2 {
        opacity: 0.5;
        transform: translate(0px, -20px);
        transition: all 1s ease-in-out;
    }
    
    .status {
        left: 52px;
        font-family: "Proxima Nova";
        height: 43px;
        font-weight: 400;
        font-size: 14px;
        display: flex;
        align-items: center;
        // top: 280px;
    }
    
    #legal {
        left: 52px;
        top: 320px;
        height: auto;
        font-size: 7px;
        font-weight: 100;
        text-transform: uppercase;
    }
    
    #gui {
        right: 0;
        position: fixed;
        top: 0;
        z-index: 1;
    }