    @import 'base/animations';
    @import 'base/whoa-animations';
    @import 'base/animateCSS';
    // @import 'compass/css3';
    // $speed: 2.5s;
    // .loader {
    //     position: absolute;
    //     top: 0px;
    //     bottom: 0px;
    //     left: 0px;
    //     right: 0px;
    //     margin: auto;
    //     width: 175px;
    //     height: 100px;
    //     span {
    //         display: block;
    //         background: #ccc;
    //         width: 7px;
    //         height: 10%;
    //         border-radius: 14px;
    //         margin-right: 5px;
    //         float: left;
    //         margin-top: 25%;
    //         &:last-child {
    //             margin-right: 0px;
    //         }
    //         &:nth-child(1) {
    //             animation: load $speed 1.4s infinite linear;
    //         }
    //         &:nth-child(2) {
    //             animation: load $speed 1.2s infinite linear;
    //         }
    //         &:nth-child(3) {
    //             animation: load $speed 1s infinite linear;
    //         }
    //         &:nth-child(4) {
    //             animation: load $speed 0.8s infinite linear;
    //         }
    //         &:nth-child(5) {
    //             animation: load $speed 0.6s infinite linear;
    //         }
    //         &:nth-child(6) {
    //             animation: load $speed 0.4s infinite linear;
    //         }
    //         &:nth-child(7) {
    //             animation: load $speed 0.2s infinite linear;
    //         }
    //         &:nth-child(8) {
    //             animation: load $speed 0s infinite linear;
    //         }
    //         &:nth-child(9) {
    //             animation: load $speed 0.2s infinite linear;
    //         }
    //         &:nth-child(10) {
    //             animation: load $speed 0.4s infinite linear;
    //         }
    //         &:nth-child(11) {
    //             animation: load $speed 0.6s infinite linear;
    //         }
    //         &:nth-child(12) {
    //             animation: load $speed 0.8s infinite linear;
    //         }
    //         &:nth-child(13) {
    //             animation: load $speed 1s infinite linear;
    //         }
    //         &:nth-child(14) {
    //             animation: load $speed 1.2s infinite linear;
    //         }
    //         &:nth-child(15) {
    //             animation: load $speed 1.4s infinite linear;
    //         }
    //     }
    // }
    // @keyframes load {
    //     0% {
    //         background: #ccc;
    //         margin-top: 25%;
    //         height: 10%;
    //     }
    //     50% {
    //         background: #444;
    //         height: 100%;
    //         margin-top: 0%;
    //     }
    //     100% {
    //         background: #ccc;
    //         height: 10%;
    //         margin-top: 25%;
    //     }
    // }
    // 16 shades of gray
    // #0E0F0F
    // #202020
    // #313131
    // #434243
    // #545254
    // #656465
    // #757575
    // #868786
    // #979798
    // #A8A7A8
    // #B8BAB8
    // #CACACA
    // #DBDCDB
    // #ECECEC
    // #ffffff
    // #2A2A2A
    // #3B3B3B
    $themeTextColor: #0E0F0F;
    $themeBackgroundColor: #ECECEC;
    body {
        background: $themeBackgroundColor;
        /* background: -webkit-radial-gradient(75%, #2a2a2a, #000 50%); */
        border-radius: 5px;
        overflow: hidden;
        // width: auto;
        cursor: none;
    }
    
    // h1 {
    //     color: white;
    // }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        border-radius: 5px;
        background: transparent;
    }
    
    @keyframes animate {
        from {
            filter: hue-rotate(0deg);
        }
        to {
            filter: hue-rotate(360deg);
        }
    }
    
    .glowing {
        color: #ffffff;
        animation: animate 3s infinite;
        animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
        text-shadow: 0 0 5px #fff, 0 0 10px #0072ff, 0 0 20px #0072ff, 0 0 30px #0072ff, 0 0 40px #0072ff, 0 0 50px #0072ff, 0 0 75px #0072ff, 0 0 100px #0072ff, 0 0 125px #0072ff, 0 0 150px #0072ff, 0 0 175px #0072ff;
    }
    
    .coloredGradientText {
        background: -webkit-linear-gradient(90deg, #a445b2 0%, #d41872 50%, #ff0066 100%);
        background-blend-mode: normal;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    #app-title {
        position: absolute;
        // cursor: none;
        left: 50px;
        top: 110px;
        height: 46px;
        font-family: "Proxima Nova";
        font-size: 36px;
        font-weight: 400;
        display: flex;
        align-items: center;
        // background: -webkit-linear-gradient(90deg, #a445b2 0%, #d41872 50%, #ff0066 100%);
        // background-blend-mode: normal;
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
    }
    
    #version,
    #status,
    #legal {
        color: $themeTextColor;
        width: auto;
    }
    
    #version {
        position: absolute;
        left: 52px;
        top: 155px;
        // width: 91px;
        height: 56px;
        // color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 22px;
        font-weight: 400;
        display: flex;
        align-items: center;
    }
    
    .status3 {
        top: 240px;
        opacity: 0.33;
    }
    
    .status2 {
        top: 260px;
        opacity: 0.66;
    }
    
    .status1 {
        top: 280px;
        animation: lightSpeedInLeft 2s ease-out;
    }
    
    .fadeOut {
        opacity: 0;
        transform: translate(0px, -20px);
        transition: all 1s ease-in-out;
    }
    
    .becomeStatus3 {
        opacity: 0.25;
        transform: translate(0px, -20px);
        transition: all 1s ease-in-out;
    }
    
    .becomeStatus2 {
        opacity: 0.5;
        transform: translate(0px, -20px);
        transition: all 1s ease-in-out;
    }
    
    .status {
        left: 52px;
        font-family: "Proxima Nova";
        height: 43px;
        font-weight: 400;
        font-size: 14px;
        position: absolute;
        display: flex;
        align-items: center;
        // top: 280px;
    }
    
    #legal {
        position: absolute;
        left: 52px;
        top: 320px;
        // width: 151px;
        height: 24px;
        // color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 7px;
        font-weight: 100;
        text-transform: uppercase;
    }
    
    #gui {
        right: 0;
        position: fixed;
        top: 0;
        z-index: 1;
    }