////////////////////////////////////////////////////////////////
$colorThemeButtonActive: linear-gradient(268deg, #da2c4d, #f8ab37);
$colorTheme-white: #ffffff;
$colorTheme-light: #f0eff3;
$colorTheme-black: #000000;
$colorTheme-dark-blue: #1f2029;
$colorTheme-dark-light: #353746;
$colorTheme-dark-gray: #777;
$colorTheme-grey: #ecedf3;
$colorTheme-grey2: #eee;
////////////////////////////////////////
// LIGHT THEME
$lightThemePrimary: $colorTheme-white;
$lightThemeSecondary: $colorTheme-light;
$lightThemeNavAButtonBackground: $colorTheme-white;
$lightThemeNavAButtonText_active: $colorTheme-black;
$lightThemeTertiary: $colorTheme-white;
$lightThemeTextPrimary: $colorTheme-black;
$lightThemeTextSecondary: $colorTheme-dark-gray;
$lightThemeDownloadItemBackgroundColor: $colorTheme-white;
$lightThemeDownloadItemBackgroundColor_hover: $colorTheme-light;
$lightThemeDownloadItemTextTitle_hover: $colorTheme-black;
$lightThemeDownloadItemText_hover: $colorTheme-dark-light;
$lightThemeDownloadItemBorder: $colorTheme-grey2;
$lightThemeNavBTextColor_hover: $colorTheme-white;
$lightThemeNavBTextColor_active: $colorTheme-white;
// DARK THEME
$darkThemePrimary: $colorTheme-dark-blue;
$darkThemeSecondary: $colorTheme-dark-light;
$darkThemeNavAButtonBackground: $colorTheme-dark-light;
$darkThemeNavAButtonText_active: $colorTheme-white;
$darkThemeTertiary: $colorTheme-black;
$darkThemeTextPrimary: $colorTheme-white;
$darkThemeTextSecondary: $colorTheme-white;
$darkThemeDownloadItemBackgroundColor: $colorTheme-dark-light;
$darkThemeDownloadItemBackgroundColor_hover: $colorTheme-light;
$darkThemeDownloadItemBorder: $colorTheme-dark-blue;
$darkThemeDownloadItemTextTitle_hover: $colorTheme-white;
$darkThemeDownloadItemText_hover: $colorTheme-black;
$darkThemeNavBTextColor: $colorTheme-white;
$darkThemeNavBTextColor_hover: $colorTheme-white;
$darkThemeNavBTextColor_active: $colorTheme-white;
////////////////////////////////////////
//////////////////////////////////////// CHANGE THESE BELOW ////////////////////////////////////////
// THEME COLORS
$themePrimary: $darkThemePrimary;
$themeSecondary: $darkThemeSecondary;
$themeTertiary: $darkThemeTertiary;
// THEME TEXT COLORS
$themeTextPrimary: $darkThemeTextPrimary;
$themeTextSecondary: $darkThemeTextSecondary;
// NAV A
$themeNavAButtonBackground: $darkThemeNavAButtonBackground;
$themeNavAButtonText_active: $darkThemeNavAButtonText_active;
// NAV B
$themeNavBTextColor_active: $darkThemeNavBTextColor_active;
$themeNavBTextColor_hover: $darkThemeNavBTextColor_hover;
// DOWNLOAD ITEMS BACKGROUNDS
$themeDownloadItemBackgroundColor: $darkThemeDownloadItemBackgroundColor;
$themeDownloadItemBackgroundColor_hover: $darkThemeDownloadItemBackgroundColor_hover;
// DOWNLOAD ITEMS TEXT
$themeDownloadItemTextTitleColor_hover: $darkThemeDownloadItemTextTitle_hover;
$themeDownloadItemTextInfoColor_hover: $darkThemeDownloadItemText_hover;
$themeDownloadItemBorder: $darkThemeDownloadItemBorder;
// SCROLLBAR
$themeScrollbarTrack: $darkThemePrimary;
$themeScrollbarThumb: $darkThemeSecondary;
$themeScrollbarThumb_hover: $darkThemeSecondary;
//////////////////////////////////////// ^^^ CHANGE THESE ABOVE ^^^ ////////////////////////////////////////
// BACKGROUNDS
$themeBackground: $themePrimary;
$themeButtonBackground: $colorTheme-dark-light;
// NAV A
$colorNavABackground: $themeNavAButtonBackground;
$colorNavABackground_active: $colorThemeButtonActive;
$colorNavABackground_hover: $colorThemeButtonActive;
$colorNavAText: $themeTextPrimary;
$colorNavAText_active: $themeNavAButtonText_active;
$colorNavAText_hover: $themePrimary;
// NAV B
$colorNavBBackgroundContainerBackground: $themeBackground;
$colorNavBBackground: $themeSecondary;
$colorNavBBackground_active: $colorThemeButtonActive;
$colorNavBBackground_hover: $colorThemeButtonActive;
$colorNavBText: $themeTextPrimary;
$colorNavBText_active: $themeNavBTextColor_active;
$colorNavBText_hover: $themeNavBTextColor_hover;
// DOWNLOAD ITEMS BACKGROUNDS
$colorDownloadItemBackground: $themeDownloadItemBackgroundColor;
$colorDownloadItemBackgroundContainer: $themeBackground;
// DOWNLOAD ITEMS TEXT
$colorDownloadItemTextTitle: $themeTextPrimary;
$colorDownloadItemTextDownloadItemInfo: $themeTextSecondary;
$colorDownloadItemTextIcon: $colorTheme-dark-gray;
$colorDownloadItemBackground_hover: $themeDownloadItemBackgroundColor_hover;
$colorDownloadItemTextTitle_hover: $themeDownloadItemTextTitleColor_hover;
$colorDownloadItemTextInfoColor_hover: $themeDownloadItemTextInfoColor_hover;
// DOWNLOAD ITEMS BORDER
$colorDownloadItemBorder: $themeDownloadItemBorder;
// SCROLLBAR
$colorScrollbarTrack: $themeScrollbarTrack;
$colorScrollbarThumb: $themeScrollbarThumb;
$colorScrollbarThumb_hover: $themeScrollbarThumb_hover;
////////////////////////////////////////
//  GRADIENTS
$color-gradient-1: linear-gradient( to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
$color-gradient-2: linear-gradient( to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
$color-gradient-3: linear-gradient( to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
$color-gradient-4: linear-gradient( to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
$color-gradient-5: linear-gradient( to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
// WILDFIRE GRADIENTS
$wildfire-background-orange-color-gradient-1: linear-gradient( to right, #fd5550 0%, #f77b2b 51%, #fee29c 100%);
$wildfire-background-blue-color-gradient-1: linear-gradient( to left, #0463db 0%, #0b88e6 33%, #13aff2 66%, #19d2fc 100%);
$wildfire-button-color-gradient-1: linear-gradient( to right, #ee603c 0%, #fc8c22 51%, #ffe6a0 100%);
$wildfire-button-color-gradient-2: linear-gradient( to right, #ef603d 0%, #f77d2a 33%, #fda849 66%, #ffe7a1 100%);
$color-gray-dark: #777;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-white: #fff;
$color-black: #000;
// $theme-dark-primary: #1f2029;
$theme-dark-primary: #2A2A2A;
$theme-dark-secondary: #353746;
// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: rgba(102, 177, 241, 0.8);
$color-tertiary-medium: #2998ff;
$color-tertiary-dark: #5643fa;
$gray-light: #f0eff3;
$dark-blue: #1f2029;
$dark-light: #353746;
$red: #da2c4d;
$yellow: #f8ab37;
$grey: #ecedf3;
$wildfire-blue: #3275fe;
$wildfire-red: #ff5451;