@import '/src/renderer/Global/Animations.scss';
@import '/src/renderer/Global/Colors.scss';
.actionBar {
    margin: 0 auto;
    left: 0;
    width: 100%;
    position: relative;
    // height: 64px;
    min-height: 64px;
    max-height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;
    // background-color: $gray-dark-light;
    background-color: $gray-dark-dark;
    border: 1px solid $gray-dark-lightest;
}