$nav-text-color: #000;
$nav-text-color_hover: #fff;
$gray-dark-darkest: #1a1a1a;
$gray-dark-dark: #202020;
$gray-dark-light: #252525;
$gray-dark-lightest: #313131;
$gradient-blue: linear-gradient( to left, #0463db 0%, #0b88e6 33%, #13aff2 66%, #19d2fc 100%);
$gradient-orange: linear-gradient(to left, #da2c4d 0%, #f8ab37 100%);
.browserBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // padding: 0.5rem;
    // background-color: #f5f5f5;
    // border: 1px solid #e0e0e0;
    width: 50%;
    display: flex;
    height: 100%;
    // flex: 1;
    flex-direction: row;
    align-items: center;
    border: 1px solid $gray-dark-lightest;
    // border: 1px dotted red;
    // &__button {
    //     margin: 10px 10px;
    //     border-radius: 3px;
    //     background-color: $gray-dark-lightest;
    //     width: 100%;
    //     height: 75%;
    //     font-size: 0.7rem;
    //     color: white;
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;
    //     justify-content: space-around !important;
    //     cursor: default;
    //     animation: flipInX 0.5s ease-in-out;
    //     & p {
    //         transform: translate(-90px) translateY(0px);
    //         // border: 1px dotted red;
    //     }
    //     &__icon {
    //         height: 0.75rem;
    //         // margin: 0 10px;
    //         // filter: drop-shadow(0 0 3px rgba(255, 255, 255, 1));
    //         // transform: translateX(30px) translateY(0px);
    //         // border: 1px solid red;
    //         fill: white;
    //         &__1 {
    //             transform: translateX(-25px) translateY(0px);
    //         }
    //         &__2 {
    //             transform: translateX(25px) translateY(0px);
    //         }
    //     }
    //     &__text {
    //         // transform: translateX(-40px) translateY(0px);
    //         // border: 1px solid red;
    //         color: #fff;
    //     }
    // }
}

.browserBarDownloadSource {
    justify-content: center !important;
    // background-image: $gradient-blue;
    border-radius: 3px;
    background-color: $gray-dark-lightest;
    width: 100%;
    height: 48px;
    font-size: 0.7rem;
    font-size: 12px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around !important;
    cursor: pointer;
    animation: flipInX 0.5s ease-in-out;
    transition: all 0.1s ease-in-out;
    margin: 8px 24px;
}

.browserBarDownloadBtn {
    justify-content: center !important;
    background-image: $gradient-blue;
    margin: 8px 24px;
    height: 48px;
    border-radius: 3px;
    font-size: 12px;
    background-color: $gray-dark-lightest;
    width: 100%;
    // height: 100%;
    // font-size: 0.7rem;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around !important;
    cursor: pointer;
    animation: flipInX 0.5s ease-in-out;
    transition: all 0.1s ease-in-out;
    &:hover {
        color: $gradient-orange;
        // transform: scale(1.01);
    }
    & p {
        transform: translate(-90px) translateY(0px);
        // border: 1px dotted red;
    }
}

.browserBarDownloadSourceIcon1,
.browserBarDownloadSourceIcon2 {
    height: 14px;
    // border: 1px solid red;
}

.browserBarDownloadSourceText {
    color: #fff;
    // transform: translateX(-85px) translateY(-1px);
}

.browserBarDownloadSourceItem {
    border: 1px solid red;
}