@import '../../Global/Animations.scss';
@import '../../Global/Colors.scss';
.form {
    height: 100%;
    width: calc(100% - 2rem);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 1rem auto;
    // border: 1px solid red;
}