@import '../../../Global/Animations.scss';
@import '../../../Global/Colors.scss';
.form {
    // height: auto;
    height: 100%;
    width: calc(100% - 2rem);
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 1rem auto;
    // padding-top: 1rem;
    position: relative;
    // border: 1px dotted gray;
}