.user-filterToolbar {
    display: flex;
    flex-direction: row;
    // border: $dev-border;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 1vh;
    height: 5vh;
    width: 100%;
    box-shadow: $shadow-light;
}

.user-filterToolbar-type {
    width: 70%;
    // flex: 15;
    // border: $dev-border;
    height: 4vh;
    // box-shadow: $shadow-after;
    display: flex;
    flex-direction: row;
}

.filterTabs {
    display: flex;
    flex-direction: row;
}

.filterTab {
    margin-left: 4vh;
    cursor: pointer;
    // border: $dev-border;
}

.user-filterToolbar-advanced-type {
    // margin: 0 1vh 0;
    width: 30%;
    // flex: 15;
    // border: $dev-border;
    height: 4vh;
    margin: 0 1vh 0;
}

.filterTabsAdvanced {
    flex-direction: row;
    display: flex;
}

.filterTabAdvanced {
    margin-right: 4vh;
    // border: $dev-border;
}