input[type='text'] {
    font-size: 24px;
    // font-family: 'Century Gothic', 'Lato', sans-serif; // sharp font
    // font-weight: 500;
    // color: #000;
}

// warpstagram
.user-info {
    height: 230px;
    border: 1px dotted purple;
    display: flex;
    flex-direction: row;
}

.user-info-stats {
    border: 2px dotted green;
}

.user-info-actions {
    border: 1px dotted red;
}

.user-info-actions__item {}

.user-info-stats__item {
    border: 1px dotted purple;
}

.user-info-stats__avatar {
    height: 20px;
    border: 1px dotted purple;
    width: 20px;
    border-radius: 45px;
}