.product_description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 0 0 10px 10px;
    align-items: center;
    // padding: 20px;
    width: 100%;
    // border: 1px dotted red;
    height: calc(100% - 10rem);
    // background-color: $gray-dark-darkest;
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // justify-content: center;
        align-content: center;
        align-items: center;
        // flex: 1;
        width: calc(100%);
        // height: 100%;
        height: auto;
        list-style: none;
        // border: 1px solid #0463db;
        overflow-y: scroll;
        // scroll-bar-width: thin;
        // overflow-x: hidden;
        // padding: 1rem;
        margin: 0.5rem 1rem;
        margin-top: 0px;
        width: calc(100% - 2rem);
        // padding: 8px;
        // border: 1px dotted gray;
        overflow-x: hidden;
        // max-height: 300px;
        &__item {
            // min-height: 2rem !important;
            flex: 1;
            // width: calc(100% - 16px);
            // max-height: 3.5rem;
            color: #fff;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            // justify-content: center;
            align-content: flex-start;
            align-items: center;
            border-radius: 4px;
            width: calc(100% - 2rem);
            width: 66%;
            margin: 2px 0px;
            // margin-left: 1rem;
            // margin-right: 0rem;
            // margin-left: 0rem;
            // margin-right: 1rem;
            // position: relative;
            // margin: 0.5rem;
            padding: 0.5rem;
            // border: 1px solid #505050;
            overflow: hidden;
            &:hover {
                background-color: rgb(56, 56, 56);
            }
            // border: 1px dotted rgb(151, 151, 151);
            &__icon {
                display: flex;
                flex-direction: column;
                margin: 0 0.5rem;
                height: 1rem;
            }
            &__text {
                // flex: 1;
                // border: 1px solid red;
                display: flex;
                flex-direction: column;
                height: 100%;
                // position: absolute;
                // top: 0;
                // left: 56px;
                width: 100%;
                justify-content: flex-start;
                align-content: flex-start;
                align-items: center;
                align-items: center;
                text-align: center;
                margin-left: 0.25rem;
                // border: 1px dotted red;
                // font-family: 'GreycliffCF-Bold', sans-serif !important;
                &__title {
                    transform: translateY(1px);
                    font-family: 'GreycliffCF-Bold', sans-serif !important;
                    // font-family: 'GreycliffCF-Regular';
                    // border: 1px solid #505050;
                    display: flex;
                    font-size: 12px !important;
                    flex-direction: row;
                    // justify-content: flex-start;
                    // align-content: center;
                    // align-items: center;
                    // flex: 1;
                    width: 100%;
                    // width: auto;
                    // margin-top: 4px;
                    // margin-left: 5rem;
                    // position: absolute;
                }
                &__description {
                    transition: all 0.75s ease-in-out;
                    width: 100%;
                    // margin-top: 8px;
                    margin-top: 4px;
                    // display: none;
                    // position: absolute;
                    // border: 1px solid #505050;
                    // flex: 1;
                    // height: 100%;
                    // margin-left: 5rem;
                    color: rgb(175, 175, 175);
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-content: center;
                    align-items: center;
                    // border: 1px solid #505050;
                    font-size: 0.75rem;
                    color: rgba(255, 255, 255, 0.5);
                }
            }
        }
    }
    &__list::-webkit-scrollbar {
        display: none !important;
    }
}

.product_description__list__item:hover * {
    // filter: invert(100%);
}

.product_description__list__item__text__description__collapsed {
    transition: all 0.75s ease-in-out;
    width: 100%;
    // margin-top: 8px;
    margin-top: 4px;
    // display: none;
    // position: absolute;
    // border: 1px solid #505050;
    // flex: 1;
    // height: 100%;
    // margin-left: 5rem;
    color: rgb(175, 175, 175);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    // border: 1px solid #505050;
    // font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0px;
    transition: all 0.75s ease-in-out;
}
