$nav-text-color: #000;
$nav-text-color_hover: #fff;
$gray-dark-darkest: #1a1a1a;
$gray-dark-dark: #202020;
$gray-dark-light: #252525;
$gray-dark-lightest: #313131;
// $gray-light-lightest: #454545;
$gradient-blue: linear-gradient(to left, #0463db 0%, #0b88e6 33%, #13aff2 66%, #19d2fc 100%);
@keyframes fadeIn {
    from {
        // transform: scale(0);
        opacity: 0;
        // -webkit-transform: rotate(0deg);
    }
    to {
        opacity: 1;
        // transform: scale(1);
        // -webkit-transform: rotate(360deg);
    }
}

$minHeight: 48px;
$maxHeight: 64px;
.content {
    // box-sizing: content-box;
    // // position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    // align-items: center;
    position: absolute;
    // justify-content: center;
    // height: calc(100vh - 192px);
    // animation: fadeIn 1s ease-out;
    // border: 1px solid red;
    // height: 100%;
    top: clamp($minHeight * 2, 4vh * 2, $maxHeight * 2);
    height: calc(100% - $minHeight * 2);
    // height: auto;
}

.contentPanel {
    // flex: 1;
    // // width: 50%;
    // display: flex;
    // align-items: center;
    justify-content: flex-start;
    animation: fadeIn 1s ease-out;
    // border: 1px dotted green;
    //
    // right: 0;
    // top: clamp($minHeight * 2, 4vh * 2, $maxHeight * 2);
    // top: 50px;
    // position: absolute;
    display: flex;
    flex: 1;
    // width: 50%;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    overflow: hidden;
    height: 100%;
    background-size: contain;
}

.contentPanelWarpstagram {
    // flex: 1;
    // // width: 50%;
    // display: flex;
    // align-items: center;
    justify-content: flex-start;
    animation: fadeIn 1s ease-out;
    // border: 1px dotted red;
    //
    right: 0;
    // top: clamp($minHeight * 2, 4vh * 2, $maxHeight * 2);
    // top: 50px;
    position: absolute;
    display: flex;
    // flex: 1;
    width: 100% !important;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    overflow: hidden;
    background-size: contain;
    // border: 1px solid green;
    height: 100%;
    // height: calc(100% + 50vh);
    // height: auto;
}

@media screen and (max-width: 768px) {
    .content {
        // display: none;
        // border: 1px solid green;
        // height: 100%;
        width: 100%;
        flex-direction: column !important;
        // justify-content: flex-start;
        // transform: scale(0);
        // opacity: 0;
        // height: 0px;
        // transition: all 0.3s ease-in-out;
        // visibility: hidden;
    }
    .contentPanel {
        // left: 0;
        flex: 1;
        height: auto;
        // border: 1px solid red;
        // display: none;
        // flex-direction: column !important;
        width: 100%;
        height: auto;
        // transform: scale(0);
        // opacity: 0;
        // height: 0px;
        // transition: all 0.3s ease-in-out;
        // visibility: hidden;
    }
}