// @import '/styles/overview/v2/OverviewV2DisplaySearch.module.scss';
@import '/components/overview/OverviewDisplayActionBar.module.scss';
@import '/components/overview/OverviewDisplayNav.module.scss';
// @import '/styles/overview/v2/OverviewV2Content.module.scss';
// @import '/styles/overview/v2/OverviewV2Browser.module.scss';
// @import '/styles/overview/v2/OverviewV2Downloads.module.scss';
// @import '/styles/overview/v2/OverviewV2DisplayNav.module.scss';
// @import '/styles/overview/v2/OverviewV2Display.module.scss';
.container {
    height: 100%;
    height: calc(33vw);
    // width: 99.85%;
    width: clamp(66vw, 66vw, 1000px);
    // max-width: 1200px;
    // top: 0;
    // left: 0;
    margin: clamp(50px, 5vh, 100px) auto;
    // position: fixed;
    // position: absolute;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    // border: 1px solid red;
    background-color: #1a1a1a;
    box-shadow: -20px 30px 80px 0 rgba(0, 0, 0, 0.4);
    height: 70vh;
    // max-height: 600px !important;
    width: 70vw;
    max-height: 700px;
    max-width: 1400px;
    // margin: 0 auto !important;
    border-radius: 5px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // border: 1px solid red;
}

@media screen and (max-width: 768px) {
    .container {
        // display: none;
        flex-direction: column;
        // margin: 1rem auto;
        width: 95vw;
        height: 800px;
        height: 850px;
        max-height: 1000px;
        // box-shadow: -20px 30px 80px 0 rgba(0, 0, 0, 0);
        // transform: scale(0);
        // opacity: 0;
        // height: 0px;
        // transition: all 0.3s ease-in-out;
        // visibility: hidden;
    }
}