$nav-text-color: #000;
$nav-text-color_hover: #fff;
$gray-dark-darkest: #1a1a1a;
$gray-dark-dark: #202020;
$gray-dark-light: #252525;
$gray-dark-lightest: #313131;
// $gray-light-lightest: #454545;
$gradient-blue: linear-gradient(to left, #0463db 0%, #0b88e6 33%, #13aff2 66%, #19d2fc 100%);
$minHeight: 48px;
$maxHeight: 64px;
.contentPanel__browser {
    // left: 0;
    // top: clamp($minHeight * 2, 4vh * 2, $maxHeight * 2);
    // top: 50px;
    // position: absolute;
    display: flex;
    flex: 1;
    // max-width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    background-size: contain;
    // border: 1px dotted red;
}

.contentPanel__browser__img {
    width: 100%;
    height: auto;
    top: 0;
}

@media screen and (max-width: 768px) {
    .contentPanel__browser {
        // display: none;
        // flex-direction: column !important;
        margin: 0 auto;
        // height: 100px;
        height: auto;
        width: 100%;
        // flex: auto;
        flex: 0.7;
        // transform: scale(0);
        // opacity: 0;
        // height: 0px;
        // transition: all 0.3s ease-in-out;
        // visibility: hidden;
    }
    .contentPanel__browser__img {
        // height: 100px;
        // width: 100%;
        // height: auto;
        // top: 0;
        // transform: scale(0);
        // opacity: 0;
        // height: 0px;
        // transition: all 0.3s ease-in-out;
        // visibility: hidden;
    }
}