// SEARCH
$nav-text-color: #000;
$nav-text-color_hover: #fff;
$gray-dark-darkest: #1a1a1a;
$gray-dark-dark: #202020;
$gray-dark-light: #252525;
$gray-dark-lightest: #313131;
$gradient-blue: linear-gradient(to left, #0463db 0%, #0b88e6 33%, #13aff2 66%, #19d2fc 100%);
.overview_display__search__input:focus~* {
    transform: translateX(-25px);
}

// $height1: 48px;
$minHeight: 48px;
$maxHeight: 64px;
.search {
    // min-height: $height1;
    // max-height: $height1;
    height: clamp($minHeight, 4vh, $maxHeight);
    width: 100%;
    /* border-radius: 5px 5px 0 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    top: 0;
    left: 0;
    position: relative;
    background-color: $gray-dark-darkest;
    transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
    // border: 1px dotted red;
    &__input {
        width: 50%;
        // width: 50%;
        //   padding: 10px;
        height: 75%;
        margin: 0px 16px;
        //   transform: translateX(-8px);
        //   padding: 1rem;
        color: white;
        border-radius: 3px;
        background-color: $gray-dark-light;
        // background-color: red !important;
        border: 1px solid $gray-dark-lightest;
        outline: none;
        font-size: calc(6px + 0.5vh);
        font-size: 12px;
        // box-shadow: 10 0 0 0 rgba(0, 0, 0, 0.2);
        // padding-left: 40px !important;
        // border: 1px dotted red;
        // box-shadow: inset 4px 4px 4px #eee, inset -4px -4px 4px white;
        transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
        &__icon {
            transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateX(48px);
            height: 1rem;
            filter: invert(1);
            // border: 1px solid red;
            &__focused {
                //   display: none;
                transform: translateX(-48px);
            }
            &__clearText {
                transform: translateX(-48px);
                fill: #fff;
                cursor: pointer;
                //   position: absolute;
                transform: translateX(-48px);
            }
        }
        &::placeholder {
            color: rgb(167, 167, 167);
            // padding-left: 60px;
            transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
            // transform: translateX(36px);
            // background-color: $gray-dark-lightest; // change
        }
        &:hover {
            // width: 66%;
            transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
            width: 75%;
        }
        &:focus::placeholder {
            //   display: none;
            color: transparent;
            transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
            // transform: translateX(400px);
            //   color: transparent;
        }
    }
}

// input[type='text'] {
// input {
//     padding-left: 40px !important;
// }
#search__input {
    padding-left: 40px !important;
}

#search__input:focus+#search__input__icon__focused {
    //   color: #cccccc;
    display: flex;
    //   transform: translateX(-98px);
    //   height: 100px;
}

#search__input:focus~#search__input__icon__unfocused {
    //   color: #cccccc;
    position: absolute;
    transform: translateX(-98px);
    display: none;
    //   height: 100px;
}

.search__input__hovering {
    //   border: 1px dotted red;
    transition: all 0.1s ease-in-out !important;
    width: 60vw;
    //   padding: 10px;
    height: 40px;
    margin: 0px 16px;
    //   transform: translateX(-8px);
    //   padding: 1rem;
    color: white;
    border-radius: 3px;
    background-color: $gray-dark-light;
    border: 1px solid $gray-dark-lightest;
    outline: none;
    font-size: 0.75rem;
    box-shadow: none;
}

.theme {
    position: absolute;
    // border: 1px solid red;
    height: 64;
    width: 64;
    right: 0;
    margin-top: 20px;
    margin-right: 82px;
    // margin: 0 16px;
    // margin-left: 16px;
    cursor: pointer;
}

.settings {
    position: absolute;
    // border: 1px solid red;
    height: 64;
    width: 64;
    right: 0;
    margin-top: 20px;
    // margin-right: 32px;
    margin-right: 22px;
    // margin: 0 16px;
    // margin-left: 16px;
    cursor: pointer;
}

.settings img,
.theme img {
    height: 20px;
}

@media screen and (max-width: 768px) {
    .search__input {
        // display: none;
        // flex-direction: column !important;
        width: 100vw;
        // border: 1px solid red;
        transform: translateX(-0.5rem);
        margin: 0 auto;
        // opacity: 0;
        // height: 0px;
        // transition: all 0.3s ease-in-out;
        // visibility: hidden;
    }
    .search__input__icon {
        // display: none;
        // flex-direction: column !important;
        // width: 100vw;
        // border: 1px solid red;
        width: auto;
        transform: translateX(1rem);
        // opacity: 0;
        z-index: 1000;
        // height: 0px;
        // transition: all 0.3s ease-in-out;
        // visibility: hidden;
    }
    .search__input__hovering {
        // display: none;
        // flex-direction: column !important;
        width: 100vw;
        // transform: scale(0);
        // opacity: 0;
        // height: 0px;
        // transition: all 0.3s ease-in-out;
        // visibility: hidden;
    }
}