// SEARCH
$nav-text-color: #000;
$nav-text-color_hover: #fff;
$gray-dark-darkest: #1a1a1a;
$gray-dark-dark: #202020;
$gray-dark-light: #252525;
$gray-dark-lightest: #313131;
$gradient-blue: linear-gradient(to left, #0463db 0%, #0b88e6 33%, #13aff2 66%, #19d2fc 100%);
$height1: 48px;
$minHeight: 48px;
$maxHeight: 64px;
.navMain {
    bottom: 0 !important;
    animation: fadeIn 1s ease-out;
    margin: 0 auto;
    left: 0 !important;
    position: relative;
    width: 100%;
    // height: clamp(64px, 64px, 64px);
    height: clamp($minHeight, 4vh, $maxHeight);
    // $height1
    height: $height1;
    display: flex;
    justify-content: center !important;
    align-items: center;
    flex-direction: row;
    border-radius: 0 0 5px 5px;
    bottom: 0;
    position: absolute;
    z-index: 100;
}

.logoContainer {
    display: flex;
    height: $height1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
    // width: clamp(0%, 100%, 25%);
    //   cursor: none !important;
    // border: 1px dotted red;
    height: 100%;
    color: white;
}

@keyframes ckw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.update_icon {
    animation: ckw 1s linear infinite;
}

.navLogo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: $height1;
    animation: fadeIn 1s ease-out;
    // border: 1px solid red;
}

.navLogo:hover .navLogoImg {
    // filter: invert(0);
    animation: ckw 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.navLogoImg {
    height: 1rem;
    // margin: 1rem;
}

.navLogoText {
    height: 1rem;
    margin: 0.5rem;
}

.installNewVersion {
    height: 1rem;
    margin: 0.75rem;
}

.platformIcon {
    height: 0.75rem;
    width: auto;
    // transform: translateY(-1px);
    margin: 0 0.25rem;
    animation: fadeIn 1s ease-out;
    filter: invert(1);
    // border: 1px solid red;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    height: $height1;
    // width: 500px;
    // position: fixed;
    // bottom: 0;
    width: 40%;
    max-width: 500px;
    // max-width: 500px;
    // border: 1px dotted red;
}

.navVersion {
    font-size: calc(8px + 0.25vh);
    transform: translateY(0.5px);
    animation: fadeIn 1s ease-out;
    margin: 0 0.25rem;
    // margin-left: -1rem;
    // border: 1px solid red;
    // display: flex;
}

.updateMessages {
    font-size: 0.75rem;
}

.restartBtn {
    font-size: 0.75rem;
    &:hover {
        cursor: pointer;
        // color: $nav-text-color_hover;
    }
}

.navMainBtn {
    font-family: 'GreycliffCF-Regular', sans-serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: white;
    background-color: $gray-dark-light;
    height: 50px !important;
    width: 33%;
    width: clamp(120px, 33%, 33%);
    // min-width: 120px;
    // flex: 1;
    // max-width: 200px; // width: 100%;
    max-height: 48px !important;
    flex-direction: row;
    align-items: center;
    align-content: center;
    // border: 1px solid red;
    // transition: 0.1s all !important;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid $gray-dark-lightest;
    margin: 2px;
    height: $height1 !important;
    // font-size: calc(1rem + 0.5vh);
    // border: 1px dotted green;
    // width: auto;
    // min-width: 12rem;
    // font-size: calc(10px + 120px) !important;
    // font-size: 1vh;
    // font-size: 12px;
    -webkit-tap-highlight-color: transparent;
    &__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        // margin-left: 24px;
        margin: 0;
        height: 12px;
        width: 14px;
        filter: grayscale(100%);
        // border: 1px solid red;
    }
    &:hover {
        background-image: linear-gradient(to left, rgba(238, 238, 238, 0.205) 0%, rgba(102, 102, 102, 0.205) 100%);
        color: #ffffff;
        border-radius: 4px;
        // font-size: 0.85rem;
        box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.6);
        // border: 1px solid $gray-dark-darkest;
        // transform: scaleX(0.99) scaleY(0.99);
        height: $height1;
        // font-size: calc(1rem + 0.5vh);
    }
    &:active {
        // font-size: 0.75rem;
        // transition: 0s all !important;
        // transform: scaleX(0.95) scaleY(0.95);
        // box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2) inset;
        height: $height1;
        // font-size: calc(1rem + 0.5vh);
    }
}

.navMainBtnActive {
    // font-family: 'GreycliffCF-Regular', sans-serif !important;
    height: $height1;
    // transition: 0s all !important;
    // border-bottom: #0463db 1px solid;
    color: black;
    display: flex;
    justify-content: center;
    // flex: 1;
    width: 33%;
    // transition: 0.1s all !important;
    // background-color: white;
    // flex-grow: 1;
    cursor: pointer;
    // font-size: 10px;
    flex-direction: row;
    align-items: center;
    align-content: center;
    color: white;
    border-radius: 3px;
    margin: 2px;
    // background-image: linear-gradient( to left, rgba(238, 238, 238, 0.205) 0%, rgba(102, 102, 102, 0.205) 100%);
    // width: 100%;
    // max-width: 200px; // width: 100%;
    // transform: scaleX(0.95) scaleY(0.95);
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.4) inset;
    filter: grayscale(0%);
    // margin-bottom: 8px;
    border: 1px solid transparent;
    max-height: 50px;
    // border: 1px solid red
    height: $height1 !important;
    // font-size: calc(1rem + 0.5vh);
    font-size: 1vh;
    font-size: 12px;
    -webkit-tap-highlight-color: transparent;
    // flex: 1;
}

.navMainBtn:hover .navMainBtn__icon {
    filter: grayscale(0%);
    margin: 0px;
    // border: 1px solid red;
}

.navMainBtnActive .navMainBtn__icon {
    margin: 0px;
    // filter: grayscale(0%);
}

.navMainBtn p {
    // font-size: 0.75rem;
    // font-size: 10px;
    // font-size: 1vh;
    font-size: 12px;
    // border: 1px solid red;
    margin: 0.25rem;
    // margin-left: 0.5rem;
    // font-family: 'GreycliffCF-Regular', sans-serif !important;
}

.navMainBtnActive p {
    // font-family: 'GreycliffCF-Regular', sans-serif !important;
    // margin-left: 8px;
    font-size: 12px;
    // border: 1px solid red;
    margin: 0.25rem;
}

@media screen and (max-width: 768px) {
    .logoContainer {
        display: none;
    }
    .buttonContainer {
        // display: none;
        width: 100%;
    }
    .navMainBtn {
        width: clamp(50px, 33%, 33%);
        // margin: 0;
        // margin-bottom: 8px;
        // margin-right: 0;
        // margin-left: 0;
        // margin-top: 0;
        // margin-bottom: 0;
        // margin-right: 0;
    }
    .navMainBtnActive {
        width: clamp(50px, 33%, 33%);
        // margin: 0;
        // margin-bottom: 8px;
        // margin-right: 0;
        // margin-left: 0;
        // margin-top: 0;
        // margin-bottom: 0;
        // margin-right: 0;
    }
}