@import '/src/renderer/Global/Animations.scss';
.scene {
    // height: clamp(200px, 200px, 200px);
    // border: 1px solid red;
    // margin-top: 0.5rem;
    // width: calc(100% - 2rem);
    width: 100%;
    height: 33%;
    animation: fadeIn 2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    // margin-left: -1rem;
    // margin-right: -1rem;
    // border: 1px dotted red;
    // position: absolute;
    // top: 200px;
    // height: calc(100%);
    // height: 300px;
    &:hover {
        // box-shadow: inset 0 0 10px 0px rgba(0, 0, 0, 1);
        // background-color: white;
    }
}

.scene_video {
    height: 1rem;
}
