@import '/src/renderer/Global/Animations.scss';
.scene {
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition: all 0.25s ease-in-out;
}

.scene__expanded {
    transition: all 0.25s ease-in-out;
    width: 100%;
}

.scene_video {
    height: 1rem;
}
