/*
// CODEPEN HTML
<div class="container">
  <a class="btn btn-1">Hover me</a>
  <a class="btn btn-2">Hover me</a>
  <a class="btn btn-3">Hover me</a> 
  <a class="btn btn-4">Hover me</a> 
  <a class="btn btn-5">Hover me</a>
</div>
*/

// CODEPEN CSS
// body {
//     font-family: 'Montserrat', sans-serif;
//     margin: 0;
// }

/*
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
    min-height: 100vh;
}
*/
.btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    transition: all 0.1s ease;

    &::hover {
        background-position: right center;
        /* change the direction of the change here */
    }
}




.btn-1 {
    background-image: $color-gradient-1;
}

.btn-2 {
    background-image: $color-gradient-2;
}

.btn-3 {
    background-image: $color-gradient-3;
}

.btn-4 {
    background-image: $color-gradient-4;
}

.btn-5 {
    background-image: $color-gradient-5;
}