.content__list {
    list-style: none;
    height: 70vh;
    scrollbar-width: none;
    overflow: scroll;
    // background-color: rgb(179, 179, 179); // TESTING
    // padding-top: 6.5rem;
    display: flex;
    width: 95%;
    flex-direction: column;
    justify-content: start;
    // align-items: flex-start;
    background-color: #fff;
    // margin: 6.5rem auto;
    // margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    border: solid 2px $grey;
    box-shadow: 0px 5px 5px rgb(156, 156, 156);
    border-radius: 4px;
    // z-index: 5;
}