// PARENT CONTAINER FOR CHILDREN TABS
.nav_B {
	//// SIZE
	width: 60%;
	height: 10vh;

	//// SPACING
	margin: 1vh auto 0;

	//// FLEX
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-content: center;

	//// DECORATION
	box-shadow: $shadow-before;
	border-radius: 4px;

	// COMMON FOR ALL CHILDREN
	&__child {
		width: 100%;
		background-color: #fff;
		display: flex;
		// flex-direction: row;
		// justify-content: center;
		// align-content: center;
		// border: dotted 1px #000;
		// box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
		// border-radius: 0 0 10% 10%;
		// border-radius: 4px 0 0;
	}

	&:active {
		// background-color: yellow;
		// border-radius: 1%;
	}

	// LEFT CHILD
	&__main {
		justify-content: flex-start;
		border-radius: 4px 0 0 4px;
	}

	// RIGHT CHILD
	&__minor {
		justify-content: flex-end;
		border-radius: 0 4px 4px 0;
	}
}

// CHILDREN TABS
.nav_B-button:link,
.nav_B-button:visited {
	//// SIZE
	width: 10rem;
	max-width: 10rem;
	height: 7.5rem;

	//// SPACING
	margin: auto 2rem;

	//// CONTENT
	font-size: 1.2rem;
	color: #000;
	font-weight: 900;
	text-align: center;

	//// POSITION
	// position: absolute;

	//// FLEX
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex: 1 2;

	//// DECORATIVE
	// border: dotted 1px red; // test
	background: $gray-light;
	border-radius: 4px;
	box-shadow: $shadow-before;

	//// ANIMATION
	transition: all ease-out 0.3s;
	animation-name: moveInTop;
	animation-duration: 0.6s;

	&:hover {
		//// CONTENT
		color: white;
		background-image: $codepen-orange-1;

		//// DECORATIVE
		box-shadow: $shadow-after;
		border-radius: 4px;

		//// ANIMATION
		transform: scale(1.01);
	}

	&:active {
		background-color: yellow;
		transform: scale(0.95);
	}


}

.nav_B-button--active {
	background-image: $codepen-orange-1 !important;
	transform: scale(1.01);
	box-shadow: $shadow-after !important;
	color: white !important;
}