.header {
	display: flex;
	justify-content: center;
	align-items: center;
	//position: relative;
	//top: 0;
	height: 0px;
	//text-align: center;
	background: $color-secondary-light; // TESTING
}

.primary-nav-tabs {
	display: flex;
	flex-direction: row;
	justify-content: center;
	//align-items: center;
	position: fixed;
	top: 0;
	width: 60%;
	height: $nav-primary-height;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	z-index: 10;
	background-color: #fff;
}

.primary-nav-tab {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 2;
	color: #000;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	transition: all 0.25s ease;

	&:hover {
		color: white;
		background: rgba(102, 177, 241, 0.8);
		background-position: right center;
		transform: scale(1.05);
		transition: all 0.25s ease;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	}
}

.primary-nav-tab--active {
	background-color: #ff8500;
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

	// z-index: 5;
}