.secondary-nav-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    position: relative;
    background: $color-primary-light;
    text-align: center;
    padding: 0 2em;
    //width: 50%;

    /*
    h1 {
        font-size: 3rem;
        margin: 0;
        letter-spacing: 1rem;
    }

    h3 {
        font-size: 1rem;
        letter-spacing: 0.3rem;
        opacity: 1;
    }
    */
}

.secondary-nav-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 40%;
    height: 60px; // know it
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); // know it
    background: #eee;
    z-index: 1; // know it
    position: fixed;
    top: 60px;
    border-radius: 0 0 5px 5px;
}

.secondary-nav-tab {
    display: flex; // content starts at top otherwise
    justify-content: center; // content start at left otherwise
    align-items: center; // content starts at top otherwise
    flex: 1; // ?
    color: #000;
    letter-spacing: 0.1rem; // know it
    transition: all 0.1s ease; // know it
    font-size: 1.8rem;



    &:hover {
        color: white; // changed text color on hover
        background: rgba(102, 177, 241, 0.8); // changed bgd color on hover
        //transition: all 0.5s ease; // know it
    }
}

.secondary-nav-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66b1f1;
    transition: left 0.3s ease;
}