$shadow-none: 0 1.5rem 4rem rgba(0, 0, 0, 0);
$shadow-light: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
$shadow-before: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
$shadow-after: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
$nav-text-color: #000;
$nav-text-color_hover: #fff;
$gray-dark-lightest2: #414141;
$gray-dark-darkest: #1a1a1a;
$gray-dark-dark: #202020;
$gray-dark-light: #252525;
$gray-dark-lightest: #313131;
$gradient-blue: linear-gradient( to left, #0463db 0%, #0b88e6 33%, #13aff2 66%, #19d2fc 100%);
$gradient-orange: linear-gradient(to left, #da2c4d 0%, #f8ab37 100%);