#group {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 981px;
    height: 408px;
}

#container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 980px;
    height: 408px;
    border-radius: 5px;
    background: #000000;
    background-blend-mode: normal;
}

#group {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 391px;
    height: 408px;
}

#contentPan {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 375px;
    height: 408px;
    background: object-fit: cover;
    background-blend-mode: normal;
}

#warpDownlo {
    position: absolute;
    left: 50px;
    top: 127px;
    width: 341px;
    height: 46px;
    background: linear-gradient(90deg, #a445b2 0%, #d41872 50%, #ff0066 100%);
    background-blend-mode: normal;
    text-shadow: 0px 2px 4px rgba(100, 100, 100, 0.5);
    font-family: "Proxima Nova";
    font-size: 36px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

#a {
    position: absolute;
    left: 52px;
    top: 160px;
    width: 91px;
    height: 56px;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 22px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

#warpiswarm {
    position: absolute;
    left: 52px;
    top: 290px;
    width: 183px;
    height: 43px;
    color: #ffffff;
    font-family: "Proxima Nova Alt";
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

#surprising {
    position: absolute;
    left: 52px;
    top: 328px;
    width: 151px;
    height: 24px;
    color: #ffffff;
    font-family: "Proxima Nova Alt";
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

#contentPan {
    position: absolute;
    left: 386px;
    top: 0px;
    width: 595px;
    height: 408px;
    border-radius: 5px;
    background: #000000;
    background-blend-mode: normal;
}

#image3 {
    position: absolute;
    left: 459px;
    top: 18px;
    width: 448px;
    height: 367.92px;
    background: url(Image 3.png) no-repeat;
}