.container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    background-color: #1a1a1a;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}