// modal-text-input
.modalPrefsPanel__auths_Container {
    //     height: 600px;
    width: 100%;
    display: flex;
    // border: dotted red 1px;
    flex-direction: column;
}

.modalPrefsPanel__auths {
    margin-top: 1rem;
}

.modalPrefsPanel__auths_licenseActivation {
    display: flex;
    // background: green;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: calc(100% - 2rem);
    // height: 100%;
    min-height: 50px;
    justify-content: center;
    background: #464646a1; // test
    border-radius: 4px;
    overflow: hidden;
    // margin-left: 1rem;
    // margin-right: 1rem;
    // border: dotted red 1px;
}

.modalPrefsPanel__auths_licenseActivation:hover .modalPrefsPanel__auths_child_title {
    color: black;
    //    color: white;
    font-size: 0.75rem;
    // margin-left: 1rem;
    cursor: default;
    letter-spacing: 0.1rem;
}

.modalPrefsPanel__auths_licenseActivation:hover .modalPrefsPanel__auths_child_btn {
    // background-image: $colorThemeButtonActive;
}

.modalPrefsPanel__auths_panel {
    width: 100%;
    // border: 1px dotted #5a5a5aa1;
    border-radius: 2px;
    display: flex;
    align-items: center;
    //     height: auto;
}

.modalPrefsPanel__auths_panel_primary,
.modalPrefsPanel__auths_panel_secondary {
    // min-height: 40px;
    max-height: 50px;
}

.modalPrefsPanel__auths_child_title,
.modalPrefsPanel__auths_child_btn,
.modalPrefsPanel__auths_child_activated {
    font-size: 0.75rem;
    color: #ffffff;
    cursor: default;
    //     border: 1px dotted purple;
}

.modalPrefsPanel__auths_child_title {
    margin: 0 2rem;
    width: auto;
}

.modalPrefsPanel__auths_child_activated {}

.modalPrefsPanel__auths_child_activated {
    display: flex;
    justify-content: flex-end;
}

.modalPrefsPanel__auths_child_activated,
.modalPrefsPanel__auths_child_btn {
    margin-right: 0.5rem;
    //     border: 1px dotted purple;
}

.modalPrefsPanel__auths_child_activated,
.modalPrefsPanel__auths_child_btn {
    max-width: 20%;
    display: flex;
    align-items: center;
    align-content: flex-end;
    justify-content: center;
    cursor: pointer;
}

.modalPrefsPanel__auths_child_btn {
    border-radius: 2px;
    height: 40px;
    background-color: #ff8700;
    // background-image: $colorThemeButtonActive;
}

.modalPrefsPanel__auths_child {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex: 1;
    // border: 1px dotted #5a5a5aa1;
}

.modalPrefsPanel__auths_active>*:not(:first-child) {
    //     height: 100px;
}

.modalPrefsPanel__auths_panel_collapsible {
    // background: #fff;
    // background-color: rgba(238, 238, 238, 0.205);
}