// https://www.w3schools.com/howto/howto_custom_select.asp
.modalDropdownContainer {
    width: 100%;
    // height: 100%;
    // height: auto;
    display: flex;
    // display: grid;
    flex-direction: row;
    justify-content: flex-start;
    // border: 1px dotted red;
    flex-wrap: wrap;
}

// .modalDropdownColumn {
//     height: 100%;
//     width: 50%;
//     // width: 100%;
//     margin: 1rem;
// }
// .modalDropdownColumn_left {
//     margin-right: 1.5rem;
// }
.modalDropdownContent {
    // border: 1px dotted white;
    position: relative;
    // height: 100px;
    width: calc((100% / 2.2));
    // width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.modalDropdown_child {
    width: 100%;
}

.modalDropdown_title {
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin-left: 0.25rem;
}

.modalDropdown_title p {
    color: #ffffff;
    font-size: 1rem;
    cursor: default;
    // margin-left: 0.5rem;
    // border: 1px dotted white;
}

.modalDropdown {
    height: 40px;
    outline: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 2px;
    border: solid 1px #464646a1; // test
    // border: 1px dotted white;
    &:hover {
        // box-shadow: $shadow-after;
    }
}

.modalDropdown select {
    background-color: #2a2a2a;
    line-height: 40px;
    outline: none;
    border: 0;
    padding: 0;
    border-radius: inherit;
    height: 40px;
    width: 100%;
    position: relative;
    z-index: 10;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    // border: 1px dotted white;
    // transition: 0.25s;
    padding-left: 1rem;
    padding-right: 1rem;
    &:hover {
        background-color: #464646a1;
    }
}