.modalPrefsNav {
        height: 60px;
        width: 100%;
        // border: 1px dotted red;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        // box-shadow: 0 10px 20px -8px #c5d6d6;
}

.modalPrefsNav_button {
        display: flex;
        align-items: center;
        align-content: center;
        flex-grow: 1;
        width: 100%;
        height: 100%;
        flex-direction: row;
        align-items: evenly;
        align-content: center;
        color: #ffffff60;
        cursor: pointer;
        justify-content: center; // PRODUCTION
        z-index: 20;
        transition: all ease-out 0.2s;
        &:hover {
                // background-color: rgba(238, 238, 238, 0.205);
                background-image: linear-gradient( to left, rgba(238, 238, 238, 0.205) 0%, rgba(102, 102, 102, 0.205) 100%);
                color: #ffffff;
                // border-radius: 2px 2px 0 0;
                // border-radius: 4px;
                border-radius: 4px 4px 0 0;
                // box-shadow: $shadow-after;
                // transform: translateY(-0.2rem);
                &::after {
                        // transform: scaleX(1.4) scaleY(1.6);
                }
        }
        &:active {
                /*heres what happens when it's active by user, aka a click lol*/
                // transform: scaleX(0.98) scaleY(0.98);
                // transform: translateY(-0.2rem);
                /*this value is in relation to initial state, not hover state*/
                // box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
        }
}

.modalPrefsNav_button_background {
        z-index: 1;
        // background-image: linear-gradient( to left, #0463db 0%, #0b88e6 33%, #13aff2 66%, #19d2fc 100%);
}

.modalPrefsNav_button p {
        font-size: 14px;
        margin-left: 1rem;
        font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
        margin-right: 8px;
}

.modalPrefsNav_button i {
        font-size: 1.2rem;
        margin-top: 2px;
}

.modalPrefsNav_button_active {
        // background-color: rgba(238, 238, 238, 0.205);
        // background-image: linear-gradient( to left, #0463db 0%, #0b88e6 33%, #13aff2 66%, #19d2fc 100%);
        background-image: linear-gradient( to left, rgba(238, 238, 238, 0.205) 0%, rgba(102, 102, 102, 0.205) 100%);
        color: #ffffff;
        border-radius: 4px 4px 0 0;
        // box-shadow: $shadow-after;
        // border-bottom: 2px solid linear-gradient( to left, #0463db 0%, #0b88e6 33%, #13aff2 66%, #19d2fc 100%);
        // border-bottom: 1px solid #0463db;
}