body {
  //font-family: "Century Gothic", "Lato", sans-serif; // sharp font
  font-family: "Nunito", sans-serif; // soft, rounded font
  overflow: hidden; // prevents scrolling
}

h1 {
  font-family: "Century Gothic", "Lato", sans-serif; // sharp font
  animation: moveInLeft 1s ease-out;

}

h3 {
  font-family: "Nunito", sans-serif; // soft, rounded font
  animation: moveInRight 1s ease-out;

}

a {
  text-decoration: none;
}