// font-family: 'Century Gothic', 'Lato', sans-serif; // sharp font
// font-family: 'Nunito', sans-serif; // soft, rounded font
// font-family: 'Poppins', sans-serif; // soft, rounded font
// font-family: "Century Gothic", "Lato", sans-serif; // sharp font
// animation: moveInRight 1s ease-out;
// font-family: 'Poppins', sans-serif; // soft, rounded font
// font-family: "Nunito", sans-serif; // soft, rounded font
// font-family: 'Poppins', sans-serif; // soft, rounded font
// font-size: 17px;
// font-weight: 500;
// letter-spacing: 1px;
// animation: moveInRight 1s ease-out;
// font-family: 'Poppins', sans-serif; // soft, rounded font
body {
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    overflow: hidden; // prevents scrolling
}

h1 {
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
}

a {
    text-decoration: none;
    font-size: 2rem;
}

li {
    font-size: 1.5rem;
}

.nav_A a {
    font-size: 1.25rem;
}