@import '../animations.scss';
@import '../colors.scss';
.statusContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    color: white;
}

@media (min-width: 800px) and (max-width: 1200px) {
    .statusContainer {
        display: none;
    }
}