@import '/src/renderer/Global/Animations.scss';
@import '/src/renderer/Global/Colors.scss';
.status_absolute,
.status_absolute__hovered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    color: white;
    position: absolute;
}

.status_absolute {
    animation: fadeInUp 0.1s ease-out;
}

.status_absolute__hovered {
    position: absolute;
    animation: fadeOutDown 0.25s ease-out !important;
    transform: rotate3d(1, 0, 0, 90deg);
}