@import '../animations.scss';
@import '../colors.scss';
.status_icon {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-out;
}

.status_icon img {
    height: 16px;
    width: 16px;
    margin: 0.5rem;
    animation: fadeIn 1s ease-out;
}

.status_icon__animated {
    animation: clockWise 1s linear infinite !important;
}