@import '/src/renderer/Global/Animations.scss';
@import '/src/renderer/Global/Colors.scss';
.restartBtn {
    font-size: 0.75rem;
    &:hover {
        cursor: pointer;
    }
}

.restartBtn {
    // width: clamp(150px, 8rem, 8rem);
    width: 6rem;
    // max-width: 250px;
    justify-content: center !important;
    height: 2rem;
    border-radius: 3px;
    font-size: 0.75rem;
    background-color: $gray-dark-light;
    color: white;
    display: flex;
    margin: 0.5rem;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center !important;
    // border: 1px solid red;
    cursor: pointer;
    &.browserBarDownloadBtn img {
        width: 1rem;
        margin-right: 1rem;
        filter: invert(1);
    }
    &:hover {
        background-color: $gray-dark-lightest;
        box-shadow: -20px 30px 80px 0 rgba(0, 0, 0, 0.25) !important;
        // transform: scale(1.01);
    }
    &:active {
        background-color: $gray-dark-light;
        // background-image: $gradient-orange;
        box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.5) !important;
        // transform: scale(0.99);
    }
}