@import '/src/renderer/Global/Animations.scss';
@import '/src/renderer/Global/Colors.scss';
.status_icon {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-out;
    // border: 1px solid white;
    position: relative;
    width: auto;
}

.status_icon__img,
.status_icon__img__hovered {
    height: 16px;
    width: 16px;
    margin: 0.5rem;
}

.status_icon__img {
    animation: fadeInDown 0.5s ease-out;
}

.status_icon__img__hovered {
    animation: fadeOutUp 0.25s ease-out;
    transform: rotate3d(1, 0, 0, 90deg);
}

.status_icon__animated {
    animation: clockWise 1s linear infinite !important;
}
