@import '../animations.scss';
@import '../colors.scss';
.statusContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    color: white;
}