@import '../../../Global/Animations.scss';
@import '../../../Global/Colors.scss';
// FIELDS
.field,
.field__credit_card,
.field__cvv,
.field_row,
.field__expiration_date {
    // .field__credit_card {
    // .field__expiration_date,
    // .field__cvv {
    min-height: 64px;
    max-height: 64px;
    width: calc(100% - 8rem);
    /* border-radius: 5px 5px 0 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 1rem;
    // top: 0;
    // left: 0;
    position: relative;
    transition: all 0.25s ease-in-out !important;
    // border: 1px solid red;
}

.field,
.field__credit_card,
.field_row {
    animation: unfoldFromTop 1s ease-in-out;
}

// last field
.field:last-child {
    margin-bottom: 1rem;
}

.field_row {
    display: flex;
    flex-direction: row;
    // border: 1px solid red;
    padding: 0rem;
    width: calc(100% - 8rem);
    justify-content: center;
    align-items: center;
    align-content: center;
    // width: 66%;
    // margin: 0px;
    // margin-bottom: 0.5rem;
    margin-top: -2.25rem;
}

.field__expiration_date,
.field__cvv {
    margin: 0px;
    width: 50%;
}

@keyframes borderAnimation {
    0% {
        border-image: linear-gradient(to right, #da2c4d, #f8ab37) 1;
    }
    50% {
        border-image: linear-gradient(to left, #da2c4d, #f8ab37) 1;
    }
    100% {
        border-image: linear-gradient(to right, #da2c4d, #f8ab37) 1;
        // border-image: $gradient-blue 1;
    }
}

// iNPUTS
.field_input,
.field_input__credit_card,
.field_input__expiration_date,
.field_input__cvv {
    height: 40px;
    // margin: 1rem;
    // padding: 1rem;
    color: white;
    border-radius: 3px;
    background-color: $gray-dark-light;
    border: 1px solid $gray-dark-lightest;
    outline: none;
    font-size: 0.75rem;
    font-size: 14px;
    // font-size: 1rem;
    box-shadow: none;
    z-index: 10;
    width: 100%;
    padding-left: 1rem;
    transition: all 0.25s ease-in-out !important;
    &:focus {
        transition: 0s !important;
        border: 1px solid $gray-dark-lightest2;
        // border: 1px solid $gradient-orange;
        // background: linear-gradient(to right, #da2c4d, #f8ab37);
        // border: 1px solid linear-gradient(to right, #da2c4d, #f8ab37);
        // animation: borderAnimation 2s infinite;
        // background: green;
        // padding: 3px;
        box-shadow: 0 0 0 0.2rem rgba($gray-dark-lightest, 0.25);
        border-width: 1px;
        border-style: solid;
        // border-image: linear-gradient(to right, #da2c4d, #f8ab37) 1;
        // border-image: $gradient-blue 1;
        box-shadow: inset 0 0 8px 4px rgba(#1a1a1a, 1);
        z-index: 100;
    }
}

.field_input__credit_card {
    border-radius: 3px 3px 0 0;
    // margin-top: 1rem;
    // border-bottom: 1px solid transparent;
}

.field_input__expiration_date {
    border-radius: 0 0 0 3px;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    // margin-top: 0px;
}

.field_input__cvv {
    border-top: 1px solid transparent;
    // border-left: 1px solid transparent;
    border-radius: 0 0 3px 0;
}

// CARD TYPE, VISA, MASTERCARD, AMEX, DISCOVER
.field_icon {
    height: 1.75rem;
    position: absolute;
    right: 0.75rem;
    filter: invert(100%);
    // transform: translateX(-2.5rem);
    z-index: 100;
}

// LABELS
.field_label {
    // border: 1px dotted red;
    position: absolute;
    left: 2px;
    top: -12px;
    font-family: 'Proxima Nova Regular';
    font-size: 0.75rem;
    color: rgb(205, 205, 205);
}