.content__list li {
    // height: 7rem;
    // display: flex;
    // margin: 0 auto; // fix this, parent container needs to be centering its children not doing this lopsided off-left stuff
    // flex-direction: row;
    // justify-content: start;
    // align-items: flex-start;
    height: 5rem;


}

.content__link:link,
.content__link:visited {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 5rem;
    width: 100%;
    align-items: center;
    // padding: 0rem 1rem;
    // transition: all 0.3s;
    // border: 1px solid rgb(202, 202, 202);

    text-decoration: none;
    border-radius: 3px;
    box-shadow: $shadow-before;

    &:hover {
        background-color: $grey;
        // background-color: #eee;
        transform: translateY(-2px);
        transform: scale(1.01);
        box-shadow: $shadow-after;
        z-index: 4;
    }

    // &:active {
    //     background-color: yellow;
    // }
}

// .content__link--active {
//     // background-color: #eee;
// }




.content__thumbnail {
    flex: 0 0 5.5rem;
    border-radius: 3px;
    // overflow: hidden;
    // height: 5.5rem;
    height: 4.5rem;
    width: 2.5rem;

    margin-right: 5rem;
    // border: solid 1px red; // TESTING
    // position: relative;
    // backface-visibility: hidden;
}

.content__thumbnail img {
    display: block;
    width: 175%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
}

//PARENT CONTAINER
.content__data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    // border: solid 2px #000; // TESTING
}

// CHILDREN 
.content__file-property {
    display: flex;
    // justify-content: center; // PRODUCTION
    justify-content: start; // TESTING
    align-items: center;
    flex: 1 3;
    // color: #000;
    // padding: auto 5rem; // TESTING
    padding-left: 6rem;
    margin: 0 auto;
    // border: dotted 1px blue; // TESTING
}

// .content__data * {
//     // margin-left: 5rem; // TESTING
//     // border: solid 1px green; // TESTING
// }


.content__data * {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

.content__data h4 {
    // font-size: 1.4rem;
    // font-weight: 900;
    min-width: 30%;
    font-weight: 500;
}

.content__data p {
    color: #000;
    // font-size: small;
}