.download__list {
    list-style: none;
    height: 70vh;
    // scrollbar-width: none;
    // overflow: scroll;
    // background-color: rgb(179, 179, 179); // TESTING
    // padding-top: 6.5rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-content: left;
    // align-items: left;
    // align-items: flex-start;
    background-color: #fff;
    // margin: 6.5rem auto;
    // margin-top: 1rem;
    padding: 0;
    // margin: 0 auto;
    border: solid 2px $grey;
    // box-shadow: 0px 5px 5px rgb(156, 156, 156);
    border-radius: 3px;
    // z-index: 5;
}

.download__item__data__property {
    color: $color-gray-dark;
}

.download__item__data__property-title {
    color: black;
}