.cta-upgrade {
    // display: flex;
    bottom: 0vh;
    height: 5rem; // prod
    // height: 10vh; //test
    width: 100%;
    // background-color: yellow;
    position: absolute;
    // margin: 0 auto;
    background-image: $wildfire-button-color-gradient-2;
    // flex-direction: row;
    // justify-content: center;
    // margin-top: 10rem;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
    // border: dotted 1px #000;
    overflow: hidden;

    // z-index: -1;
}