.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
    background: $color-secondary-light; // TESTING
}

// PARENT CONTAINER FOR CHILDREN TABS
.nav_A {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // background: linear-gradient(-45deg, rgb(197, 197, 197), rgb(197, 197, 197));
    //align-items: center;
    position: fixed;
    top: 0;
    height: $nav_A-height;
    max-height: $nav_A-max-height;
    width: 50%;
    min-width: 600px;
    max-width: 900px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 2;
    background-color: $colorNavABackground;
    border-radius: 4px;
    margin-top: 5px;
}

// CHILDREN TABS
.nav_A-tab {
    display: flex;
    justify-content: center; // PRODUCTION
    // width: 20%;
    // width: 125px;
    // width: 33.3%;
    align-items: center;
    // flex: 1 2 auto;
    flex: 1;
    color: $colorNavAText;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    transition: all 0.1s ease;
    border-radius: 4px;
    box-shadow: $shadow-before;
    font-weight: 200;
    margin: 0 0.2rem;
    &:hover {
        // color: $colorNavAText_hover;
        background-image: linear-gradient(268deg, #da2c4d, #f8ab37);
        // background-image: $wildfire-background-blue-color-gradient-1;
        background-position: bottom;
        // transform: scale(1.04);
        // transform: scale(1.025);
        transform: scale(1.02);
        transition: all 0.1s ease;
        box-shadow: $shadow-after;
        z-index: 3;
    }
    &:active {
        transform: scale(1);
    }
}

.nav_A-tab--active {
    // background-image: $colorNavABackground_active;
    background-image: $wildfire-background-blue-color-gradient-1;
    // transform: scale(1.01);
    transform: scale(1.02);
    box-shadow: $shadow-after;
    color: $colorNavAText_active;
}

.nav_A-tab {
    animation: fadeIn 1s ease-out;
}