    .fadeOut {
        opacity: 0;
        transform: translate(0px, -20px);
        transition: all 1s ease-in-out;
    }
    
    .status3 {
        top: 250px;
        // opacity: 0.05;
        opacity: 1;
    }
    
    .status2 {
        top: 270px;
        opacity: 0.10;
    }
    
    .status1 {
        top: 290px;
        animation: lightSpeedInLeft 0.5s ease-out;
    }
    
    .becomeStatus3 {
        opacity: 0.1;
        transform: translate(0px, -20px);
        transition: all 1s ease-in-out;
    }
    
    .becomeStatus2 {
        opacity: 0.25;
        transform: translate(0px, -20px);
        transition: all 1s ease-in-out;
    }
    
    .status {
        left: 52px;
        // height: 43px;
        font-weight: 400;
        font-size: 14px;
        display: flex;
        align-items: center;
        // top: 280px;
    }