.content {
    max-width: 95%;
    margin: $nav-primary-height auto;

    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
    display: grid;
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    grid-template-rows: 10rem minmax(100rem, auto);
    grid-template-columns: 1.1fr 2fr 1.1fr;
    //grid-template-areas: "head head head""list recipe shopping";
}