@import '/styles/components/mirrored.module.scss';
@import '/styles/components/glow.module.scss';
@import '/components/Structure/structure_variables.module.scss';
#user_download__header,
#user_download__hero,
#user_download__overlap {
    min-width: 200px;
}

@keyframes fadeInColor {
    0% {
        filter: grayscale(1);
    }
    100% {
        filter: grayscale(0);
    }
}

.cta_mobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 500;
    // margin-bottom: 0.75rem;
    // border: 1px solid red;
    &__title {
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1.25rem;
        width: 75vw;
        // margin-bottom: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 0.75rem;
    }
    &__subtitle {
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1.25rem;
        // margin-bottom: 1rem;
        // border: 1px solid red;
    }
    &__instruction {
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1rem;
        // margin: 0.5rem auto;
        width: 75%;
        margin: 0.5rem auto;
        // margin: 0.75rem auto;
        color: rgb(43, 43, 43);
        margin-bottom: 1rem;
    }
    &__icon {
        margin: 0.5rem auto;
        margin-top: 1rem;
        transition: all 0.25s ease-in-out;
        // margin: 0.75rem auto;
        fill: black;
        width: 1rem;
        height: 1rem;
        animation: fadeInColor 5s ease-in-out;
    }
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
        margin-bottom: 0rem;
        // border: 1px solid red;
        width: 75vw;
    }
    &__panel {
        // border: 1px solid red;
        background-color: #fff;
        flex: 1;
        display: flex;
        margin: 1rem 0.25rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        // box-shadow: -3px 3px 3px 3px rgba(0, 0, 0, 0.1);
        transition: all 0.25s ease-in-out;
        box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.1);
        // z-index: 9999;
        &:active {
            transition: all 0.25s ease-in-out;
            box-shadow: inset -5px 5px 10px 0px rgba(0, 0, 0, 0.1);
        }
        &:hover .cta_mobile__icon {
            transition: all 0.25s ease-in-out;
        }
    }
}

@media screen and (max-width: $breakpoint_tablet) {
    .cta_mobile {
        display: flex;
    }
}