@keyframes pulse {
    0% {
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    }
    50% {
        -webkit-box-reflect: below 3px linear-gradient(transparent, #0005);
    }
    100% {
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    }
}

.mirrored:hover {
    // background: #03e9f4;
    // background: #1a1a1a;
    // transition: 0.25s all ease-in-out !important;
    color: #fff;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    // animation: pulse 1s infinite;
}