// BLANK CONTAINER SLIDE HOLDING COLORED CONTENT
.content-slide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // height: 100%;
    height: 100vh;
    // width: 100vw;
    position: relative;
    background: $themeBackground;
    text-align: center;
    padding: 0;
    width: 100%;
    // height: 100%;
    // border: $border-heavy;
}

// COLORED CONTENT INSIDE SLIDE
.content-container {
    border: $border-medium;
    // width: 100vw;
    width: 100%;
    // padding-top: 15vh;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: $shadow-after;
    // testing top position
    // margin-top: 7vh;
    height: 90vh;
    margin-top: 65px;
}

.content-container-audio {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    // background: linear-gradient(-45deg, #e73c7e, #23a6d5, #23d5ab, #ee7752);
    background-size: 500% 500%;
    animation: gradient $duration-1 ease infinite;
}

.content-container-video {
    // background: linear-gradient(-45deg, #23d5ab, #ee7752, #e73c7e, #23a6d5);
    // background: linear-gradient(-45deg, #23a6d5, #23d5ab, #ee7752, #e73c7e);
    background: linear-gradient(-45deg, #0463db, #0b88e6, #13aff2, #19d2fc);
    background-size: 500% 500%;
    animation: gradient $duration-1 ease infinite;
}

.content-container-warpstagram {
    background: linear-gradient(-45deg, #e73c7e, #23a6d5, #23d5ab, #ee7752);
    background-size: 500% 500%;
    animation: gradient $duration-1 ease infinite;
}

/// GRID STUFF ///
// display: grid; // https://css-tricks.com/snippets/css/complete-guide-grid/
// MEASURES WIDTH OF COLUMNS, TOP TO BOTTOM
//grid-template-rows: 10rem minmax(100rem, auto); // 10rem/100px height, but shrinks no less than 100rem, height is auto
// FOR EXAMPPLE: grid-template-rows: 25% 100px auto; means top to bottom, 25% top row, 100px, then auto to fill in rest of available space

/*
    You also have access to a function which can help set boundaries for otherwise flexible units.
    For example to set a column to be 1fr, but shrink no further than 200px:
    grid-template-columns: 1fr minmax(200px, 1fr);
    */

// MEASURES WIDTH OF COLUMNS, LEFT TO RIGHT
// grid-template-columns: 1.1fr 2fr 1.1fr;
// grid-template-areas: "head head head""list recipe shopping";
// basically fr === fraction, this means its thirds, where center is roughly 3x the sides
// fr units: https://css-tricks.com/introduction-fr-css-unit/
.content__panel-container {
    display: flex;
    width: 100%;
    // height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#iframe-test {
    width: 100%;
    height: 650px;
}