$nav-text-color: #000;
$nav-text-color_hover: #fff;
$gray-dark-darkest: #1a1a1a;
$gray-dark-dark: #202020;
$gray-dark-light: #252525;
$gray-dark-lightest: #313131;
$gradient-blue: linear-gradient( to left, #0463db 0%, #0b88e6 33%, #13aff2 66%, #19d2fc 100%);
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    position: fixed;
    // top: 25%;
    top: calc(50% - 300px);
    left: calc(50% - 400px) !important;
    background-color: transparent;
    display: flex;
    // border: 5px solid #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 30;
    transition: all 0.5s ease-in-out !important;
    animation: slide-down 300ms ease-out forwards;
    width: calc(100% - 50%) !important;
    // min-width: 800px !important;
    min-height: 480px;
    // overflow: hidden !important;
    transition: all 0.1s ease-in-out;
    height: 300px;
    // height: 800px;
    // width: 1000px !important;
    width: 800px !important;
    &__license_mode {
        width: 1200px !important;
        height: 800px;
        top: calc(50% - 400px);
        left: calc(50% - 600px) !important;
    }
    &__astronaut {
        height: 60px !important;
        position: absolute !important;
        z-index: -10 !important;
        top: 10px !important;
        right: 250px !important;
        filter: drop-shadow(-3px 0px 15px rgba(0, 0, 0, 1));
        // box-shadow: 0 8px 8px rgba(0, 0, 0, 0.975);
    }
    &__content {
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.975);
        // border: 1px solid red;
        width: 100%;
        height: 100%;
        display: flex;
        // margin: 15px;
        // padding: 15px;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        position: relative;
        justify-content: center;
        // border: 3px dotted red;
        background-color: $gray-dark-darkest;
    }
}

@media (min-width: 768px) {
    .modal {
        width: 40rem;
        left: calc(50% - 20rem);
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}