//
@import '../Global/Animations.scss';
@import '../Global/Colors.scss';
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.8);
  animation: fadeIn 0.25s ease-in-out;
}

.modal {
  position: fixed;
  // top: 25%;
  // top: calc(25%);
  // top: calc(50% - 5vh);
  // left: calc(25%) !important;
  background-color: transparent;
  display: flex;
  // border: 5px solid #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 30;
  transition: all 0.5s ease-in-out !important;
  animation: slide-down 250ms ease-out forwards;
  // width: calc(100% - 50%) !important;
  // min-width: 800px !important;
  // min-height: 480px;
  // min-width: 1000px;
  overflow: hidden !important;
  // transition: all 0.1s ease-in-out;
  // height: 300px;
  $maxWidth: 800px; // CHANGE THIS TO YOUR DESIRED MAX WIDTH
  $maxHeight: 600px; // CHANGE THIS TO YOUR DESIRED MAX HEIGHT
  transition: all 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
  height: clamp(480px, 100%, $maxHeight) !important;
  top: calc(50% - $maxHeight / 2) !important;
  width: clamp(800px, 100%, $maxWidth) !important;
  left: calc(50% - $maxWidth / 2) !important;
  transition: all 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
  &__license_mode {
    $maxWidth: 1400px; // CHANGE THIS TO YOUR DESIRED MAX WIDTH
    $maxHeight: 900px; // CHANGE THIS TO YOUR DESIRED MAX HEIGHT
    transition: all 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
    height: clamp(800px, 100%, $maxHeight) !important;
    top: calc(50% - $maxHeight / 2) !important;
    width: clamp(800px, 100%, $maxWidth) !important;
    left: calc(50% - $maxWidth / 2) !important;
    // transform: translateX(-10rem);
  }
  &__astronaut {
    height: 60px !important;
    position: absolute !important;
    z-index: -10 !important;
    top: 10px !important;
    right: 250px !important;
    filter: drop-shadow(-3px 0px 15px rgba(0, 0, 0, 1));
    // box-shadow: 0 8px 8px rgba(0, 0, 0, 0.975);
  }
  &__content {
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.975);
    // border: 1px solid red;
    width: 100%;
    height: 100%;
    display: flex;
    // margin: 15px;
    // padding: 15px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;
    justify-content: center;
    // border: 3px dotted red;
    background-color: $gray-dark-darkest;
    transition: all 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
  }
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
