$nav-text-color: #000;
$nav-text-color_hover: #fff;
$gray-dark-darkest: #1a1a1a;
$gray-dark-dark: #202020;
$gray-dark-light: #252525;
$gray-dark-lightest: #313131;
$gradient-blue: linear-gradient( to left, #0463db 0%, #0b88e6 33%, #13aff2 66%, #19d2fc 100%);
.modal_preferences {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        // margin: 15px;
        background-color: $gray-dark-darkest;
        // width: 600px;
        // height: 400px;
        &__content {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                &__panel {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        &__nav {
                                display: flex;
                                justify-content: flex-start !important;
                                // border: 1px dotted red;
                                // justify-content: start;
                                justify-content: center;
                                width: 200px;
                                height: 100%;
                        }
                        &__content {
                                // display: flex;
                                // flex-direction: column;
                                // justify-content: flex-start;
                                // align-items: center;
                                // width: 100%;
                                // height: 100%;
                        }
                }
        }
}