$nav-text-color: #000;
$nav-text-color_hover: #fff;
$gray-dark-darkest: #1a1a1a;
$gray-dark-dark: #202020;
$gray-dark-light: #252525;
$gray-dark-lightest: #313131;
$gradient-blue: linear-gradient( to left, #0463db 0%, #0b88e6 33%, #13aff2 66%, #19d2fc 100%);
$gradient-orange: linear-gradient(to left, #da2c4d 0%, #f8ab37 100%);
@keyframes fadeIn {
    from {
        // transform: scale(0);
        opacity: 0;
        // -webkit-transform: rotate(0deg);
    }
    to {
        opacity: 1;
        // transform: scale(1);
        // -webkit-transform: rotate(360deg);
    }
}

@keyframes slideColorBackground {
    0% {
        background-color: #0463db;
        background-color: $gray-dark-darkest;
    }
    50% {
        // background-color: #0463db;
        background-color: $gray-dark-light;
        transform: translate(1%);
    }
    100% {
        background-color: $gray-dark-darkest;
    }
}

.navMainBtn_slidingBackground {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    // background-color: #19d2fc;
    background-image: linear-gradient( to left, rgba(238, 238, 238, 0.205) 0%, rgba(102, 102, 102, 0.205) 100%);
}

.navMain {
    bottom: 0 !important;
    animation: fadeIn 1s ease-out;
    margin: 0 auto;
    left: 0 !important;
    position: relative;
    width: 100%;
    height: clamp(64px, 64px, 64px);
    display: flex;
    justify-content: space-around !important;
    align-items: center;
    flex-direction: row;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 33%;
    // width: clamp(0%, 100%, 25%);
    //   cursor: none !important;
    // border: 1px solid rgb(146, 146, 146);
    height: 100%;
    color: white;
}

@keyframes ckw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.update_icon {
    animation: ckw 1s linear infinite;
}

@media (min-width: 800px) and (max-width: 1200px) {
    .logoContainer {
        // width: 100%;
        // background-color: purple;
        display: none;
    }
    .buttonContainer {
        // background-color: purple;
        width: 100% !important;
    }
}

.navLogo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-out;
}

.navLogoImg {
    height: 20px;
    margin: 1rem;
}

.installNewVersion {
    height: 1rem;
    margin: 0.75rem;
}

.platformIcon {
    height: 16px;
    margin: 0.5rem;
    // transform: translateY(-1px);
    animation: fadeIn 1s ease-out;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 500px;
    // width: 33%;
    // max-width: 500px;
    //   border: 1px dotted rgb(146, 146, 146);
}

.navVersion {
    font-size: 0.75rem;
    transform: translateY(0.5px);
    animation: fadeIn 1s ease-out;
}

.updateMessages {
    font-size: 0.75rem;
}

.restartBtn {
    font-size: 0.75rem;
    &:hover {
        cursor: pointer;
        // color: $nav-text-color_hover;
    }
}

.restartBtn {
    // width: clamp(150px, 8rem, 8rem);
    width: 6rem;
    // max-width: 250px;
    justify-content: center !important;
    height: 2rem;
    border-radius: 3px;
    font-size: 0.75rem;
    background-color: $gray-dark-light;
    color: white;
    display: flex;
    margin: 0.5rem;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center !important;
    cursor: pointer;
    &.browserBarDownloadBtn img {
        width: 1rem;
        margin-right: 1rem;
        filter: invert(1);
    }
    &:hover {
        background-color: $gray-dark-lightest;
        box-shadow: -20px 30px 80px 0 rgba(0, 0, 0, 0.25) !important;
        // transform: scale(1.01);
    }
    &:active {
        background-color: $gray-dark-light;
        // background-image: $gradient-orange;
        box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.5) !important;
        // transform: scale(0.99);
    }
}

.navMainBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    color: white;
    background-color: $gray-dark-light;
    height: 50px !important;
    //
    display: flex;
    flex: 1;
    // max-width: 200px; // width: 100%;
    max-height: 50px !important;
    flex-direction: row;
    align-items: center;
    align-content: center;
    // border: 1px solid red;
    transition: 0.1s all !important;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid $gray-dark-lightest;
    margin: 2px;
    position: relative;
    &__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        // margin-left: 24px;
        // margin: 0 auto;
        height: 1.25rem;
        filter: grayscale(100%);
    }
    &:hover {
        background-image: linear-gradient( to left, rgba(238, 238, 238, 0.205) 0%, rgba(102, 102, 102, 0.205) 100%);
        color: #ffffff;
        border-radius: 4px;
        font-size: 0.85rem;
        box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.6);
        // animation: slideColorBackground 1s ease-in-out infinite;
        // border: 1px solid $gray-dark-darkest;
        // transform: scaleX(0.99) scaleY(0.99);
    }
    &:active {
        // font-size: 0.75rem;
        transition: 0s all !important;
        // transform: scaleX(0.95) scaleY(0.95);
        box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2) inset;
    }
}

.navMainBtnActive {
    transition: 0s all !important;
    // border-bottom: #0463db 1px solid;
    color: black;
    display: flex;
    justify-content: center;
    flex: 1;
    transition: 0.1s all !important;
    // background-color: white;
    // flex-grow: 1;
    cursor: pointer;
    font-size: 0.75rem;
    flex-direction: row;
    align-items: center;
    align-content: center;
    color: white;
    border-radius: 3px;
    margin: 2px;
    // background-image: linear-gradient( to left, rgba(238, 238, 238, 0.205) 0%, rgba(102, 102, 102, 0.205) 100%);
    // width: 100%;
    // max-width: 200px; // width: 100%;
    // transform: scaleX(0.95) scaleY(0.95);
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.4) inset;
    filter: grayscale(0%);
    // margin-bottom: 8px;
    border: 1px solid transparent;
    max-height: 50px;
    height: 50px !important;
}

.navMainBtn:hover .navMainBtn__icon {
    filter: grayscale(0%);
}

.navMainBtn:hover .navMainBtn_slidingBackground {
    // transform: translateX(100%);
}

.navMainBtnActive img {
    filter: grayscale(0%);
}

.navMainBtn p {
    // font-size: 0.75rem;
    font-size: 0.75rem;
    margin-left: 1rem;
}

.navMainBtnActive p {
    margin-left: 1rem;
}