$nav-text-color: #000;
$nav-text-color_hover: #fff;
$gray-dark-darkest: #1a1a1a;
$gray-dark-dark: #202020;
$gray-dark-light: #252525;
$gray-dark-lightest: #313131;
$gradient-blue: linear-gradient( to left, #0463db 0%, #0b88e6 33%, #13aff2 66%, #19d2fc 100%);
.navMain {
    bottom: 0 !important;
    margin: 0 auto;
    left: 0 !important;
    position: relative;
    width: 100%;
    height: clamp(64px, 64px, 64px);
    display: flex;
    justify-content: space-around !important;
    align-items: center;
    flex-direction: row;
    //   border: 1px dotted rgb(146, 146, 146);
    background-color: $gray-dark-dark;
    //   z-index: 10;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // width: 25%;
    width: clamp(0%, 20%, 25%);
    //   cursor: none !important;
    // border: 1px solid rgb(146, 146, 146);
    height: 100%;
    color: white;
}

@media (min-width: 800px) and (max-width: 1200px) {
    .logoContainer {
        // width: 100%;
        // background-color: purple;
        display: none;
    }
    .buttonContainer {
        width: 100% !important;
    }
}

.navLogo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLogoImg {
    height: 20px;
    margin: 0.5rem;
}

.platformImg {
    height: 1rem;
    margin: 1rem;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 33%;
    //     max-width: 500px;
    //   border: 1px dotted rgb(146, 146, 146);
}

.navVersion {
    font-size: 12px;
}

.navMainBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
    background-color: $gray-dark-light;
    height: 56px !important;
    //
    display: flex;
    flex: 1;
    width: 100%;
    max-height: 56px !important;
    flex-direction: row;
    align-items: center;
    align-content: center;
    color: #ffffff60;
    cursor: pointer;
    transition: all ease-out 0.1s !important;
    border-radius: 4px;
    &__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        // margin-left: 24px;
        // margin: 0 auto;
        height: 20px;
        filter: grayscale(100%);
    }
    &:hover {
        background-image: linear-gradient( to left, rgba(238, 238, 238, 0.205) 0%, rgba(102, 102, 102, 0.205) 100%);
        color: #ffffff;
        border-radius: 4px;
        font-size: 14px;
        box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.6);
        transform: scaleX(0.99) scaleY(0.99);
    }
    &:active {
        font-size: 14px;
        transform: scaleX(0.95) scaleY(0.95);
        box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
    }
}

.navMainBtnActive {
    // border-bottom: #0463db 1px solid;
    color: black;
    display: flex;
    justify-content: center;
    flex: 1;
    // background-color: white;
    // flex-grow: 1;
    cursor: pointer;
    z-index: 20;
    font-size: 14px;
    flex-direction: row;
    align-items: center;
    align-content: center;
    color: white;
    border-radius: 4px;
    background-image: linear-gradient( to left, rgba(238, 238, 238, 0.205) 0%, rgba(102, 102, 102, 0.205) 100%);
    width: 100%;
    transform: scaleX(0.95) scaleY(0.95);
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.4);
    filter: grayscale(0%);
    transition: all ease-out 0.1s !important;
    // margin-bottom: 8px;
    max-height: 56px;
    height: 56px !important;
}

.navMainBtn:hover .navMainBtn__icon {
    filter: grayscale(0%);
}

.navMainBtnActive img {
    filter: grayscale(0%);
}

.navMainBtn p {
    font-size: 14px;
    margin-left: 20px;
}

.navMainBtnActive p {
    margin-left: 20px;
}