$nav-text-color: #000;
$nav-text-color_hover: #fff;
$gray-dark-darkest: #1a1a1a;
$gray-dark-dark: #202020;
$gray-dark-light: #252525;
$gray-dark-lightest: #313131;
$gradient-blue: linear-gradient( to left, #0463db 0%, #0b88e6 33%, #13aff2 66%, #19d2fc 100%);
$gradient-orange: linear-gradient(to left, #da2c4d 0%, #f8ab37 100%);
@keyframes fadeIn {
    from {
        // transform: scale(0);
        opacity: 0;
        // -webkit-transform: rotate(0deg);
    }
    to {
        opacity: 1;
        // transform: scale(1);
        // -webkit-transform: rotate(360deg);
    }
}

.status {
    font-size: 0.75rem;
    transform: translateY(0.5px);
    animation: fadeIn 1s ease-out;
}