/*
 * @NOTE: Prepend a ~ to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

$nav-text-color: #000;
$nav-text-color_hover: #fff;
$gray-dark-darkest: #1a1a1a;
$gray-dark-dark: #202020;
$gray-dark-light: #252525;
$gray-dark-lightest: #313131;
$gradient-blue: linear-gradient( to left, #0463db 0%, #0b88e6 33%, #13aff2 66%, #19d2fc 100%);
html,
body {
    box-sizing: content-box;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
    padding: 0;
    background-color: $gray-dark-darkest;
}

* {
    font-family: 'Proxima Nova Regular', Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Montserrat, sans-serif !important;
    transition: all 0.1s ease-in-out;
}

// // GREYCLIFF CUSTOM FONT
@font-face {
    font-family: 'GreycliffCF-Regular';
    font-display: swap;
    src: url('./fonts/Greycliff/Webfont/GreycliffCF-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'GreycliffCF-Bold';
    font-weight: 800;
    font-display: swap;
    src: url('./fonts/Greycliff/Webfont/GreycliffCF-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Proxima Nova Light';
    font-weight: 800;
    font-display: swap;
    src: url('./fonts/Proxima Nova/ProximaNovaA-Light.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova Regular';
    font-weight: 800;
    font-display: swap;
    src: url('./fonts/Proxima Nova/ProximaNovaA-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova Bold';
    font-weight: 800;
    font-display: swap;
    src: url('./fonts/Proxima Nova/ProximaNovaA-Bold.woff') format('woff');
}


/* Handle */


/* Track */

::-webkit-scrollbar {
    width: 4px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: #3a3a3a;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

// ::-webkit-scrollbar {
//   height: 4px;              /* height of horizontal scrollbar ← You're missing this */
//   width: 4px;               /* width of vertical scrollbar */
//   border: 1px solid #d5d5d5;
// }

/* Handle on hover */

* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

ul,
li {
    margin: 0;
    padding: 0;
}

.app {
    height: 100%;
    // width: 99.85%;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    // position: fixed;
    position: absolute;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}